{
  "swagger": "2.0",
  "info": {
    "title": "Cloudhub Public API from",
    "version": "V1"
  },
  "host": "anypoint.mulesoft.com",
  "basePath": "/cloudhub/api/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2": {},
    "/v2/alerts": {
      "x-amf-description": "Alerts resource\n",
      "get": {
        "description": "Retrieve all alerts in the specified environment.\nRequires 'Read Alerts' role.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "description": "Offset to return alerts from",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Maximum number of alerts to return",
            "required": true,
            "in": "query",
            "default": 10,
            "type": "integer"
          },
          {
            "name": "resource",
            "description": "Only return alerts which are connected to this resource (application name)",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/GetAlertsResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Create an alert\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/PostPutAlert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/GetAlertResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/alerts/{id}": {
      "put": {
        "description": "Update an existing alert\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/PostPutAlert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/GetAlertResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "get": {
        "description": "Retrieve a single alert\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/GetAlertResponse"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "delete": {
        "description": "Delete a single alert\n",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Alert deleted\n"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/alerts/{id}/history": {
      "get": {
        "description": "Retrieve the history describing when this alert was triggered\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/AlertsHistory"
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications": {
      "x-amf-description": "Applications resource\n",
      "get": {
        "description": "Retrieve all applications in the specified environment.\nRequires 'Read Applications' role.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "retrieveStatistics",
            "description": "Include statistics for each application in the response",
            "required": true,
            "in": "query",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "period",
            "description": "Number of milliseconds of statistics to gather",
            "required": true,
            "in": "query",
            "default": 3600000,
            "type": "number"
          },
          {
            "name": "retrieveLogLevels",
            "description": "Include log levels for each application in the response",
            "required": true,
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "retrieveTrackingSettings",
            "description": "Include tracking settings for each application in the response",
            "required": true,
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "retrieveIpAddresses",
            "description": "Include ip address allocations for each application in the response",
            "required": true,
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": [
                {
                  "domain": "example-app",
                  "fullDomain": "example-app.cloudhub.io",
                  "description": "",
                  "properties": {},
                  "propertiesOptions": {},
                  "status": "STARTED",
                  "workers": {
                    "type": {
                      "name": "Medium",
                      "weight": 1.0,
                      "cpu": "1 vCore",
                      "memory": "1.5 GB memory"
                    },
                    "amount": 1,
                    "remainingOrgWorkers": 1.0,
                    "totalOrgWorkers": 1.0,
                    "recentStatistics": {
                      "transactions": 0,
                      "cpu": 0.95
                    }
                  },
                  "lastUpdateTime": 1425571830350,
                  "fileName": "example-app.jar",
                  "muleVersion": {
                    "version": "4.4.0",
                    "updateId": "651c112af26039320eef384f",
                    "latestUpdateId": "6527fb5109623963cc1d425e",
                    "endOfSupportDate": 1703991600000,
                    "endOfLifeDate": 1704078000000,
                    "updateVersion": "10-03-2023",
                    "releaseChannel": "NONE",
                    "javaVersion": "8"
                  },
                  "previousMuleVersion": {
                    "version": "4.4.0",
                    "updateId": "64f20477036da5595236faaf",
                    "endOfSupportDate": 1703991600000,
                    "endOfLifeDate": 1704078000000,
                    "updateVersion": "09-01-2023",
                    "releaseChannel": "NONE",
                    "javaVersion": "8"
                  },
                  "tenants": 0,
                  "userId": "54f7ed7ae4b0d48f31a3099e",
                  "userName": "fred-smith",
                  "vpnConfig": {
                    "network": "203.0.113.0",
                    "mask": 27
                  },
                  "persistentQueues": false,
                  "persistentQueuesEncryptionEnabled": false,
                  "persistentQueuesEncrypted": false,
                  "monitoringEnabled": true,
                  "monitoringAutoRestart": true,
                  "staticIPsEnabled": false,
                  "multitenanted": false,
                  "hasFile": true,
                  "secureDataGatewayEnabled": false,
                  "vpnEnabled": false,
                  "trackingSettings": {
                    "trackingLevel": "DISABLED"
                  },
                  "logLevels": [],
                  "ipAddresses": []
                }
              ]
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Create a new application.\nRequires 'Create Applications' role.\n",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/PostApplication"
            }
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "multipart/form-data",
            "schema": {
              "type": "object",
              "required": [
                "file",
                "appInfoJson"
              ],
              "properties": {
                "file": {
                  "description": "Contents of a Mule application file\n",
                  "type": "file"
                },
                "autoStart": {
                  "description": "boolean flag to autostart the application after it is deployed\n",
                  "example": true,
                  "type": "boolean"
                },
                "appInfoJson": {
                  "description": "application attributes in json format\n\nSet \"objectStoreV1\": false to use Object Store V2\n",
                  "example": "{\n    \"domain\": \"test-test\",\n    \"muleVersion\": {\n        \"version\": \"4.4.0\"\n    },\n    \"region\": \"us-east-1\",\n    \"monitoringEnabled\": true,\n    \"monitoringAutoRestart\": true,\n    \"workers\": {\n        \"amount\": 1,\n        \"type\": {\n            \"name\": \"Medium\",\n            \"weight\": 1,\n            \"cpu\": \"1 vCore\",\n            \"memory\": \"1.5 GB memory\"\n        }\n    },\n    \"loggingNgEnabled\": true,\n    \"persistentQueues\": true,\n    \"objectStoreV1\": true\n}",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "domain": "example-app",
                "fullDomain": "example-app.cloudhub.io",
                "description": "",
                "properties": {},
                "propertiesOptions": {},
                "status": "STARTED",
                "workers": {
                  "type": {
                    "name": "Medium",
                    "weight": 1.0,
                    "cpu": "1 vCore",
                    "memory": "1.5 GB memory"
                  },
                  "amount": 1,
                  "remainingOrgWorkers": 1.0,
                  "totalOrgWorkers": 1.0,
                  "recentStatistics": {
                    "transactions": 0,
                    "cpu": 0.95
                  }
                },
                "lastUpdateTime": 1425571830350,
                "fileName": "example-app.zip",
                "muleVersion": {
                  "version": "4.4.0",
                  "updateId": "651c112af26039320eef384f",
                  "latestUpdateId": "6527fb5109623963cc1d425e",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "10-03-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "previousMuleVersion": {
                  "version": "4.4.0",
                  "updateId": "64f20477036da5595236faaf",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "09-01-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "tenants": 0,
                "userId": "54f7ed7ae4b0d48f31a3099e",
                "userName": "fred-smith",
                "vpnConfig": {
                  "network": "203.0.113.0",
                  "mask": 27
                },
                "deploymentGroup": {
                  "id": "5aff4d75ea4580594b7405d6",
                  "name": "US West and East 1"
                },
                "persistentQueues": false,
                "persistentQueuesEncryptionEnabled": false,
                "persistentQueuesEncrypted": false,
                "monitoringEnabled": true,
                "monitoringAutoRestart": true,
                "staticIPsEnabled": false,
                "multitenanted": false,
                "hasFile": true,
                "secureDataGatewayEnabled": false,
                "vpnEnabled": false,
                "trackingSettings": {
                  "trackingLevel": "DISABLED"
                },
                "logLevels": [],
                "ipAddresses": []
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "put": {
        "description": "Bulk Action (UPDATE, START, STOP, RESTART, DELETE) for Applications.\n\n**UPDATE**: Update all applications in the provided list to the latest\nupdate of the Mule Version that the application is currently using\n\n**START**: Start all applications in the provided list if they are stopped\n\n**STOP**: Stop all applications in the provided list if they are started\n\n**RESTART**: Restart all applications in the provided list with zero downtime\n\n**DELETE**: Delete all applications in the provided list\n\nThe threshold for number of domains in the bulk actions is 100.\n\nThese actions cannot be stopped. Requires 'Manage Settings' role.\n",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "action": "UPDATE",
                "domains": [
                  "domain1",
                  "domain2"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}": {
      "x-amf-description": "A single application\n",
      "get": {
        "description": "Retrieve a single application by name.\nRequires 'Read Applications' role.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "domain": "example-app",
                "fullDomain": "example-app.cloudhub.io",
                "description": "",
                "properties": {},
                "propertiesOptions": {},
                "status": "STARTED",
                "workers": {
                  "type": {
                    "name": "Medium",
                    "weight": 1.0,
                    "cpu": "1 vCore",
                    "memory": "1.5 GB memory"
                  },
                  "amount": 1,
                  "remainingOrgWorkers": 1.0,
                  "totalOrgWorkers": 1.0,
                  "recentStatistics": {
                    "transactions": 0,
                    "cpu": 0.95
                  }
                },
                "lastUpdateTime": 1425571830350,
                "fileName": "example-app.zip",
                "muleVersion": {
                  "version": "4.4.0",
                  "updateId": "651c112af26039320eef384f",
                  "latestUpdateId": "6527fb5109623963cc1d425e",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "10-03-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "previousMuleVersion": {
                  "version": "4.4.0",
                  "updateId": "64f20477036da5595236faaf",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "09-01-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "tenants": 0,
                "userId": "54f7ed7ae4b0d48f31a3099e",
                "userName": "fred-smith",
                "vpnConfig": {
                  "network": "203.0.113.0",
                  "mask": 27
                },
                "deploymentGroup": {
                  "id": "5aff4d75ea4580594b7405d6",
                  "name": "US West and East 1"
                },
                "persistentQueues": false,
                "persistentQueuesEncryptionEnabled": false,
                "persistentQueuesEncrypted": false,
                "monitoringEnabled": true,
                "monitoringAutoRestart": true,
                "staticIPsEnabled": false,
                "multitenanted": false,
                "hasFile": true,
                "secureDataGatewayEnabled": false,
                "vpnEnabled": false,
                "trackingSettings": {
                  "trackingLevel": "DISABLED"
                },
                "logLevels": [],
                "ipAddresses": []
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "delete": {
        "description": "Delete a single application\n",
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "put": {
        "description": "Update a single application.\nRequires 'Manage Settings' role.\n",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "CloudHub New Application from Exchange or Sandbox",
              "x-amf-examples": {
                "sandbox": {
                  "applicationSource": {
                    "fileSource": "5a0251232f6ce02c9b813bd4",
                    "fileChecksum": "1ac0a8293da1d327558707662c4fe567",
                    "source": "SANDBOX"
                  },
                  "applicationInfo": {
                    "workers": {
                      "type": {
                        "name": "Micro"
                      }
                    }
                  },
                  "autoStart": true
                },
                "exchange": {
                  "applicationSource": {
                    "groupId": "org.mule.examples",
                    "artifactId": "hello-world",
                    "version": "1.4.0",
                    "source": "EXCHANGE"
                  },
                  "applicationInfo": {
                    "workers": {
                      "type": {
                        "name": "Micro"
                      },
                      "amount": 2
                    }
                  },
                  "autoStart": true
                }
              },
              "type": "object",
              "properties": {
                "autoStart": {
                  "description": "Should the application start deploying",
                  "type": "boolean"
                },
                "applicationSource": {
                  "description": "Information about application source",
                  "type": "object",
                  "properties": {
                    "source": {
                      "description": "Source type",
                      "enum": [
                        "EXCHANGE",
                        "SANDBOX"
                      ],
                      "type": "string"
                    },
                    "groupId": {
                      "description": "groupId for exchange source",
                      "type": "string"
                    },
                    "artifactId": {
                      "description": "artifactId for exchange source",
                      "type": "string"
                    },
                    "version": {
                      "description": "version for exchange source",
                      "type": "string"
                    },
                    "fileSource": {
                      "description": "fileSource for sandbox source",
                      "type": "string"
                    },
                    "fileChecksum": {
                      "description": "fileChecksum for sandbox source",
                      "type": "string"
                    }
                  }
                },
                "applicationInfo": {
                  "description": "Application deployment information",
                  "type": "object"
                }
              }
            }
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "multipart/form-data",
            "schema": {
              "type": "object",
              "required": [
                "appInfoJson"
              ],
              "properties": {
                "file": {
                  "description": "Contents of a Mule application file\n",
                  "type": "file"
                },
                "appInfoJson": {
                  "description": "application attributes in json format\n",
                  "example": {
                    "value": "{\n   \"fileChecksum\":\"\",\n   \"fileSource\":\"\",\n   \"muleVersion\":{\n      \"version\":\"3.8.2\",\n      \"updateId\": \"581bbe7383a74dc0901efd1c\"\n   },\n   \"properties\":{\n      \"key1\":\"value1\"\n   },\n   \"logLevels\":[\n\n   ],\n   \"trackingSettings\":{\n      \"trackingLevel\":\"DISABLED\"\n   },\n   \"region\":\"us-east-1\",\n   \"multitenanted\":false,\n   \"vpnEnabled\":false,\n   \"secureDataGatewayEnabled\":false,\n   \"persistentQueues\":false,\n   \"persistentQueuesEncrypted\":false,\n   \"monitoringEnabled\":true,\n   \"monitoringAutoRestart\":true,\n   \"workers\":{\n      \"type\":{\n         \"name\":\"Medium\",\n         \"weight\":1,\n         \"cpu\":\"1 vCore\",\n         \"memory\":\"1.5 GB memory\"\n      },\n      \"amount\":1\n   }\n}"
                  },
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "domain": "example-app",
                "fullDomain": "example-app.cloudhub.io",
                "description": "",
                "properties": {},
                "propertiesOptions": {},
                "status": "STARTED",
                "workers": {
                  "type": {
                    "name": "Medium",
                    "weight": 1.0,
                    "cpu": "1 vCore",
                    "memory": "1.5 GB memory"
                  },
                  "amount": 1,
                  "remainingOrgWorkers": 1.0,
                  "totalOrgWorkers": 1.0,
                  "recentStatistics": {
                    "transactions": 0,
                    "cpu": 0.95
                  }
                },
                "lastUpdateTime": 1425571830350,
                "fileName": "example-app.zip",
                "muleVersion": {
                  "version": "4.4.0",
                  "updateId": "651c112af26039320eef384f",
                  "latestUpdateId": "6527fb5109623963cc1d425e",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "10-03-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "previousMuleVersion": {
                  "version": "4.4.0",
                  "updateId": "64f20477036da5595236faaf",
                  "endOfSupportDate": 1703991600000,
                  "endOfLifeDate": 1704078000000,
                  "updateVersion": "09-01-2023",
                  "releaseChannel": "NONE",
                  "javaVersion": "8"
                },
                "tenants": 0,
                "userId": "54f7ed7ae4b0d48f31a3099e",
                "userName": "fred-smith",
                "vpnConfig": {
                  "network": "203.0.113.0",
                  "mask": 27
                },
                "deploymentGroup": {
                  "id": "5aff4d75ea4580594b7405d6",
                  "name": "US West and East 1"
                },
                "persistentQueues": false,
                "persistentQueuesEncryptionEnabled": false,
                "persistentQueuesEncrypted": false,
                "monitoringEnabled": true,
                "monitoringAutoRestart": true,
                "staticIPsEnabled": false,
                "multitenanted": false,
                "hasFile": true,
                "secureDataGatewayEnabled": false,
                "vpnEnabled": false,
                "trackingSettings": {
                  "trackingLevel": "DISABLED"
                },
                "logLevels": [],
                "ipAddresses": []
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/dashboardStats": {
      "x-amf-description": "Dashboard statistics\n\nDashboard stats contains various metrics as requested, each includes multiple <timestamp, value> pairs referred to as statistic points.\nThe number of statistic points depends on the time range and the interval for the statistics.\n\nThe statistics available are:\n\n| Metric Name              | Description                                                                                |\n| ------------------       |:-------------------------------------------------------------------------------------------|\n| **events**               | Total number of mule events occur within the specific interval                             |\n| **diskReadBytes**        | Average disk read in bytes per minute within the specific interval                         |\n| **diskWriteBytes**       | Average disk write in bytes per minute within the specific interval                        |\n| **networkIn**            | Average networkIn in bytes per minute within the specific interval                         |\n| **networkOut**           | Average networkOut in bytes per minute within the specific interval                        |\n| **memoryTotalUsed**      | Average memory used in bytes within the specific interval                                  |\n| **memoryPercentageUsed** | Average percentage of memory used within the specific interval                             |\n| **memoryTotalMax**       | Total memory in bytes of the worker. memoryTotalUsed/memoryTotalMax = memoryPercentageUsed |\n| **cpu**                  | Average percentage of cpu used within the specific interval                                |\n",
      "get": {
        "description": "Retrieve statistics for an application or specific application workers.\nRequires 'Read Applications' role.\n\nNotes: \n- The maximum number of statistic points returned for each metric from a single call is 1440.\n- There should be at least 1 minute of difference between startTime and endTime.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "description": "ISO format date string representing the last date to retrieve statistics. If not specified, defaults to now.\n",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "statistics",
            "description": "Specify which statistics to retrieve. If not specified, retrieve all statistics\n",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "interval",
            "description": "Amount of time between samples in milliseconds. Worker statistics can be retrieved for period as short as 1 minute.",
            "required": true,
            "in": "query",
            "default": 900000,
            "type": "integer"
          },
          {
            "name": "workerIds",
            "description": "Specify which worker to retrieve statistics for. Can be specified multiple times to retrieve statistics for multiple workers. If not specified, statistics for all workers are retrieved.\n",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "startDate",
            "description": "ISO format date string representing the first date to retrieve statistics. If not specified, defaults to endDate - 24 hours.\n",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "events": {
                  "1431145723547": 0,
                  "1431229423547": 0,
                  "1431230323547": 0,
                  "1431231223547": 0
                },
                "workerStatistics": [
                  {
                    "id": "i-0331cdfc",
                    "ipAddress": "52.6.239.113",
                    "statistics": {
                      "memoryTotalUsed": {
                        "1431231180000": 1000,
                        "1431232080000": 1000
                      },
                      "diskWriteBytes": {
                        "1431145680000": -1,
                        "1431146580000": -1
                      },
                      "cpu": {
                        "1431145680000": 3,
                        "1431146580000": 5
                      },
                      "networkOut": {
                        "1431146580000": 34234,
                        "1431231180000": 73779.5
                      },
                      "diskReadBytes": {
                        "1431145680000": 3434,
                        "1431146580000": 4545
                      },
                      "networkIn": {
                        "1431145680000": 4554,
                        "1431146580000": 2222,
                        "1431231180000": 334,
                        "1431232080000": 6666
                      },
                      "memoryTotalMax": {
                        "1431145680000": 344,
                        "1431146580000": 344
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/files": {
      "x-amf-description": "Deploy or re-deploy an application with the specified application file.\n",
      "post": {
        "description": "Deploy or re-deploy an application with the specified application file.\nRequires 'Manage Settings' role.\n",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "multipart/form-data",
            "in": "body",
            "name": "generated",
            "schema": {
              "type": "object",
              "required": [
                "file"
              ],
              "properties": {
                "file": {
                  "description": "Contents of a Mule application file\n",
                  "type": "file"
                },
                "staticIp": {
                  "description": "Ip address to serve the application on\n",
                  "example": "10.4.5.20",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deployment queued successfully.\n"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/queueStatistics": {
      "x-amf-description": "Retrieve statistics for persistent queues.",
      "get": {
        "description": "Retrieve statistics for persistent queues.\nRequires 'Read Applications' role.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "description": "ISO format date string representing the last date to retrieve statistics. If not specified, defaults to now.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "statistics",
            "description": "Specifiy which statistics to retrieve\n",
            "required": false,
            "in": "query",
            "default": [
              "queued",
              "inFlight",
              "added",
              "dequeued"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "description": "Amount of time between samples in milliseconds.\n",
            "required": false,
            "in": "query",
            "default": 300000,
            "type": "integer"
          },
          {
            "name": "offset",
            "description": "Index of the first queue to retrieve. Used for paging results.\n",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "queueName",
            "description": "Specify the name of the queue to retrieve data for\n",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Maximum number of queues to retrieve statistics for.\n",
            "required": true,
            "in": "query",
            "default": 20,
            "type": "integer"
          },
          {
            "name": "startDate",
            "description": "ISO format date string representing the first date to retrieve statistics. If not specified, defaults to endDate - 24 hours.\n",
            "required": false,
            "in": "query",
            "type": "string"
          },
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "queues": [
                  {
                    "id": "54f7ed78e4b0d48f31a30891_54f87d13e4b0d48f320c66cb_A9452D1A86C11FD2E70F2481D99B31",
                    "name": "seda.queue(helloworldFlow.stage1)",
                    "queued": 0,
                    "inFlight": 0,
                    "status": "NORMAL"
                  }
                ],
                "queueStatistics": [
                  {
                    "id": "54f7ed78e4b0d48f31a30891_54f87d13e4b0d48f320c66cb_A9452D1A86C11FD2E70F2481D99B31",
                    "statistics": {
                      "queued": {},
                      "inFlight": {},
                      "dequeued": {}
                    }
                  }
                ],
                "total": 1
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/staticips": {
      "x-amf-description": "Manage the static Ips",
      "get": {
        "description": "Retrieve all the static IP addresses related with the application\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "total": 2,
                "data": [
                  {
                    "regionId": "us-east-1",
                    "regionName": "US East (N. Virginia)",
                    "type": "vpc",
                    "address": "0.0.0.0",
                    "state": "IN_USE"
                  },
                  {
                    "regionId": "us-west-2",
                    "regionName": "US West (Oregon)",
                    "type": "vpc",
                    "address": "0.0.0.0",
                    "state": "ASSIGNED"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Request a static IP for the application.\n",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/PostStaticIp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Static IP is assigned to the application\n"
          },
          "400": {
            "description": "Region is not valid or application, or static IP is not enabled for the app\n"
          },
          "403": {
            "description": "Static IP is not allowed for the org or the app\n"
          },
          "409": {
            "description": "A static IP is already reserved for the app\n"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/staticips/{region}": {
      "delete": {
        "description": "Release any unused static IP address(es) assigned to the application for that region back to the pool.",
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "region",
            "description": "the region",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "IP address is successfully released back to the pool.\n"
          },
          "400": {
            "description": "Region not in existence.\n"
          },
          "403": {
            "description": "Static IP is not allowed for the org or the app\n"
          },
          "409": {
            "description": "A concurrent request has modified the status of the IP before freeing.\n"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/deployments": {
      "get": {
        "description": "description: Retrieve deploymentIds and InstanceIds using this API. These Ids are useful for downloading mule application and worker logs.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "Maximum number of deployments to retrieve.\n",
            "required": false,
            "in": "query",
            "default": 25,
            "type": "integer"
          },
          {
            "name": "offset",
            "description": "Index of the first deployment to retrieve. Used for paging results.\n",
            "required": false,
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "orderByDate",
            "description": "Order of deployments\n",
            "required": false,
            "in": "query",
            "default": "DESC",
            "enum": [
              "DESC",
              "ASC"
            ],
            "type": "string"
          },
          {
            "name": "loggingVersion",
            "description": "if you are using new logging system then use VERSION_2\n",
            "required": false,
            "in": "query",
            "default": "VERSION_2",
            "enum": [
              "VERSION_1",
              "VERSION_2"
            ],
            "type": "string"
          },
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "data": [
                  {
                    "deploymentId": "566f011be4b06b370949daff",
                    "createTime": "2015-12-14T17:49:15.731Z",
                    "startTime": "2015-12-14T17:49:19.329Z",
                    "endTime": "2015-12-14T17:53:52.828Z",
                    "instances": [
                      {
                        "instanceId": "566f011be4b06b370949daff-0",
                        "publicIPAddress": "52.91.11.88",
                        "status": "STARTED",
                        "region": "us-east-1"
                      }
                    ]
                  },
                  {
                    "deploymentId": "566f00c2e4b06b3709496e0d",
                    "createTime": "2015-12-14T17:47:46.833Z",
                    "startTime": "2015-12-14T17:47:49.282Z",
                    "endTime": "2015-12-14T17:49:18.366Z",
                    "instances": []
                  },
                  {
                    "deploymentId": "566efefae4b06b3709475a6b",
                    "createTime": "2015-12-14T17:40:10.659Z",
                    "startTime": "2015-12-14T17:40:14.002Z",
                    "endTime": "2015-12-14T17:43:25.923Z",
                    "instances": []
                  },
                  {
                    "deploymentId": "566efdd5e4b06b37094601dc",
                    "createTime": "2015-12-14T17:35:17.351Z",
                    "startTime": "2015-12-14T17:35:18.228Z",
                    "endTime": "2015-12-14T17:38:30.207Z",
                    "instances": []
                  },
                  {
                    "deploymentId": "566efdd2e4b06b370945ff40",
                    "createTime": "2015-12-14T17:35:14.444Z",
                    "startTime": "2015-12-14T17:35:18.231Z",
                    "endTime": "2015-12-14T17:35:18.356Z",
                    "instances": []
                  }
                ],
                "total": 5
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/deployments/{deploymentId}/logs": {
      "get": {
        "description": "description: Retrieve deployment log for a specific depoymentId. May be subject of rate limit.\n\nWe do not recommend the use of this API for extraction of logs. Please use custom log appenders for this purpose.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "number of log lines, less or equal 2000\n",
            "required": false,
            "in": "query",
            "default": 100,
            "type": "integer"
          },
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "deploymentId",
            "description": "deploymentId retrieved from /deployments API",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "data": [
                  {
                    "loggerName": "org.mule.api.processor.LoggerMessageProcessor",
                    "threadName": "[test-test].Copy_of_echoFlow.stage1.02",
                    "timestamp": 1450128121850,
                    "message": "\norg.mule.DefaultMuleMessage\n{\n  id=b751b960-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=21\n    cf-ray=254cf63924c50097-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:01 GMT\n    expires=Mon, 14 Dec 2015 21:22:23 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:21:23 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=d267b5965fec19705b85e5d82160b774d1450128121; expires=Tue, 13-Dec-16 21:22:01 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=79f490c4-c64a-4de6-80a3-36b6f19f9cbc; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=2f2996ba-bd71-43ac-bab2-d0e5682ebf51\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}",
                    "priority": "INFO",
                    "instanceId": "566f011be4b06b370949daff-0"
                  },
                  {
                    "loggerName": "org.mule.api.processor.LoggerMessageProcessor",
                    "threadName": "[test-test].echoFlow.stage1.02",
                    "timestamp": 1450128121851,
                    "message": "\norg.mule.DefaultMuleMessage\n{\n  id=b7522e90-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=21\n    cf-ray=254cf63933d2087a-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:01 GMT\n    expires=Mon, 14 Dec 2015 21:22:23 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:21:23 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=d8f18998797a26f0957f21db409e1741d1450128121; expires=Tue, 13-Dec-16 21:22:01 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=7809cd0f-2cbe-4a8f-9df2-c5373732961d; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=169bb6da-6b64-41ee-846a-fda65c51fbf1\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}",
                    "priority": "INFO",
                    "instanceId": "566f011be4b06b370949daff-0"
                  },
                  {
                    "loggerName": "org.mule.api.processor.LoggerMessageProcessor",
                    "threadName": "[test-test].Copy_of_echoFlow.stage1.02",
                    "timestamp": 1450128143460,
                    "message": "\norg.mule.DefaultMuleMessage\n{\n  id=c4334d10-a2a8-11e5-9d9b-0e4b77f24b53\n  payload=org.glassfish.grizzly.utils.BufferInputStream\n  correlationId=<not set>\n  correlationGroup=-1\n  correlationSeq=-1\n  encoding=UTF-8\n  exceptionPayload=<not set>\n\nMessage properties:\n  INVOCATION scoped properties:\n    pollingFrequency=1000\n  INBOUND scoped properties:\n    MULE_ORIGINATING_ENDPOINT=endpoint.polling.1912630717\n    cache-control=public, no-cache=\"Set-Cookie\", max-age=40\n    cf-ray=254cf6c047f52456-IAD\n    connection=keep-alive\n    content-type=text/html; charset=utf-8\n    date=Mon, 14 Dec 2015 21:22:23 GMT\n    expires=Mon, 14 Dec 2015 21:23:03 GMT\n    http.reason=OK\n    http.status=200\n    last-modified=Mon, 14 Dec 2015 21:22:03 GMT\n    server=cloudflare-nginx\n    set-cookie=[__cfduid=daba5383a0f8ede6ff1c538ca4eade3fa1450128143; expires=Tue, 13-Dec-16 21:22:23 GMT; path=/; domain=.stackoverflow.com; HttpOnly, prov=6844e5be-37f5-439f-b853-fb47c747d92d; domain=.stackoverflow.com; expires=Fri, 01-Jan-2055 00:00:00 GMT; path=/; HttpOnly]\n    transfer-encoding=chunked\n    vary=*\n    x-frame-options=SAMEORIGIN\n    x-request-guid=0255f6eb-9993-4a1e-91e8-3fbfbce0f277\n  OUTBOUND scoped properties:\n  SESSION scoped properties:\n}",
                    "priority": "INFO",
                    "instanceId": "566f011be4b06b370949daff-0"
                  }
                ],
                "total": 3
              }
            }
          },
          "429": {
            "description": "Rejected due to rate limit."
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/instances": {
      "parameters": [
        {
          "name": "domain",
          "description": "Application domain name",
          "required": true,
          "in": "path",
          "type": "string"
        }
      ]
    },
    "/v2/applications/{domain}/instances/{instanceId}": {
      "parameters": [
        {
          "name": "domain",
          "description": "Application domain name",
          "required": true,
          "in": "path",
          "type": "string"
        },
        {
          "name": "instanceId",
          "description": "instanceId retrieved from /deployments API",
          "required": true,
          "in": "path",
          "type": "string"
        }
      ]
    },
    "/v2/applications/{domain}/instances/{instanceId}/logs": {
      "get": {
        "description": "description: Retrieve instance log for a specific instanceId. Instance log is related to your application. May be subject to rate limit.\n\nWe do not recommend the use of this API for extraction of logs. Please use custom log appenders for this purpose.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "number of log lines, less or equal 2000\n",
            "required": false,
            "in": "query",
            "default": 100,
            "type": "integer"
          },
          {
            "name": "offset",
            "description": "offset from end for tail, or from start for head request\n",
            "required": false,
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "tail",
            "description": "tail the log\n",
            "required": false,
            "in": "query",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "instanceId",
            "description": "instanceId retrieved from /deployments API",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "data": [
                  {
                    "loggerName": "org.mule.module.launcher.application.DefaultMuleApplication",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115553412,
                    "message": "\n++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++\n+ Initializing app 'test-test'                             +\n++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "com.mulesoft.ch.monitoring.MonitoringCoreExtension",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115554065,
                    "message": "Monitoring enabled: true",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "com.mulesoft.ch.monitoring.MonitoringCoreExtension",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115554066,
                    "message": "Registering ping flow injector...",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "com.mulesoft.ch.queue.boot.PersistentQueueCoreExtension",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115554083,
                    "message": "The PersistentQueueManager is NOT configured. The normal VM queue manager will be used.",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.lifecycle.AbstractLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115554119,
                    "message": "Initialising RegistryBroker",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.module.extension.internal.manager.DefaultExtensionManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115554265,
                    "message": "Starting discovery of extensions",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.module.extension.internal.manager.DefaultExtensionManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115555132,
                    "message": "Discovered 1 extensions",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.module.extension.internal.manager.DefaultExtensionManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115555132,
                    "message": "Registering extension validation (version 3.7)",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.config.spring.MuleArtifactContext",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115555560,
                    "message": "Refreshing org.mule.config.spring.MuleArtifactContext@49cfd433: startup date [Mon Dec 14 17:52:35 UTC 2015]; root of context hierarchy",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.config.spring.processors.NoDevkitInjectorProcessor",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115559139,
                    "message": "JSR-330 'javax.inject.Inject' annotation found and supported for autowiring",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.springframework.beans.factory.support.DefaultListableBeanFactory",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115559778,
                    "message": "Bean creation exception on FactoryBean type check: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name '_defaultUserObjectStore': Requested bean is currently in creation: Is there an unresolvable circular reference?",
                    "priority": "WARN"
                  },
                  {
                    "loggerName": "org.springframework.beans.factory.support.DefaultListableBeanFactory",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115559916,
                    "message": "Bean creation exception on FactoryBean type check: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name '_defaultUserObjectStore': Requested bean is currently in creation: Is there an unresolvable circular reference?",
                    "priority": "WARN"
                  },
                  {
                    "loggerName": "org.mule.lifecycle.AbstractLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115562916,
                    "message": "Initialising connector: connector.polling.mule.default",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.lifecycle.AbstractLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115563399,
                    "message": "Initialising model: _muleSystemModel",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.construct.FlowConstructLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564260,
                    "message": "Initialising flow: echoFlow",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.exception.DefaultMessagingExceptionStrategy",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564274,
                    "message": "Initialising exception listener: org.mule.exception.DefaultMessagingExceptionStrategy@681f155",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.processor.SedaStageLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564404,
                    "message": "Initialising service: echoFlow.stage1",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.construct.FlowConstructLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564469,
                    "message": "Initialising flow: Copy_of_echoFlow",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.exception.DefaultMessagingExceptionStrategy",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564469,
                    "message": "Initialising exception listener: org.mule.exception.DefaultMessagingExceptionStrategy@5face4a9",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.processor.SedaStageLifecycleManager",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564474,
                    "message": "Initialising service: Copy_of_echoFlow.stage1",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.util.journal.TransactionJournal",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564522,
                    "message": "Using files for tx logs /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-tx-log/tx1.log and /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-tx-log/tx2.log",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.util.journal.TransactionJournal",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564523,
                    "message": "Using files for tx logs /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-xa-tx-log/tx1.log and /opt/mule/mule-3.7.2-R44/./.mule/test-test/queue-xa-tx-log/tx2.log",
                    "priority": "INFO"
                  },
                  {
                    "loggerName": "org.mule.config.spring.SpringXmlConfigurationBuilder",
                    "threadName": "qtp18605202-31",
                    "timestamp": 1450115564717,
                    "message": "Configured Mule using \"org.mule.config.spring.SpringXmlConfigurationBuilder\" with configuration resource(s): \"[ConfigResource{resourceName='/opt/mule/mule-3.7.2-R44/apps/test-test/queue-test2.xml'}]\"",
                    "priority": "INFO"
                  }
                ],
                "total": 14
              }
            }
          },
          "429": {
            "description": "Rejected due to rate limit."
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/v2/applications/{domain}/instances/{instanceId}/diagnostics": {
      "get": {
        "description": "description: Retrieve thread dump of a worker.\n",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "domain",
            "description": "Application domain name",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "instanceId",
            "description": "instanceId retrieved from /deployments API",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "X-ANYPNT-ENV-ID",
            "description": "The ID of your current environment\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/octet-stream",
            "schema": {
              "example": "2016-06-03 18:53:03\nFull thread dump Java HotSpot(TM) 64-Bit Server VM (25.51-b03 mixed mode):\n\n\"Attach Listener\" #83 daemon prio=9 os_prio=0 tid=0x00007f9cac01b800 nid=0xb1f waiting on condition [0x0000000000000000]\n   java.lang.Thread.State: RUNNABLE\n\n\"[ironman].VM.dispatcher.01\" #82 prio=5 os_prio=0 tid=0x00007f9cdc257000 nid=0xb03 waiting on condition [0x00007f9ca1b95000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eeb5b088> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:458)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\tat java.util.concurrent.SynchronousQueue.take(SynchronousQueue.java:924)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].echoFlow.stage1.02\" #81 prio=5 os_prio=0 tid=0x0000000001779800 nid=0xb02 waiting on condition [0x00007f9ca2b9d000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eec69798> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:460)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\tat java.util.concurrent.SynchronousQueue.poll(SynchronousQueue.java:941)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1066)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].connector.http.mule.default.receiver.02\" #79 prio=5 os_prio=0 tid=0x00007f9cc46f1800 nid=0xaff waiting on condition [0x00007f9ca1e96000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eedbed28> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:460)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\tat java.util.concurrent.SynchronousQueue.poll(SynchronousQueue.java:941)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1066)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].http.request.dispatch.7557.01\" #78 prio=5 os_prio=0 tid=0x00007f9cb4008800 nid=0xafe waiting on condition [0x00007f9ca2197000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eee40890> (a java.util.concurrent.SynchronousQueue$TransferStack)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:458)\n\tat java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)\n\tat java.util.concurrent.SynchronousQueue.take(SynchronousQueue.java:924)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].connector.http.mule.default.receiver.01\" #77 prio=5 os_prio=0 tid=0x00007f9cc46b9800 nid=0xafd runnable [0x00007f9ca2298000]\n   java.lang.Thread.State: RUNNABLE\n\tat java.net.PlainSocketImpl.socketAccept(Native Method)\n\tat java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:404)\n\tat java.net.ServerSocket.implAccept(ServerSocket.java:545)\n\tat java.net.ServerSocket.accept(ServerSocket.java:513)\n\tat org.mule.transport.http.HttpRequestDispatcher$1.doWork(HttpRequestDispatcher.java:100)\n\tat org.mule.retry.policies.AbstractPolicyTemplate.execute(AbstractPolicyTemplate.java:63)\n\tat org.mule.transport.http.HttpRequestDispatcher.run(HttpRequestDispatcher.java:93)\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"HttpClient-connection-cleaner-connector.http.mule.default\" #76 daemon prio=5 os_prio=0 tid=0x00007f9cc469d000 nid=0xafc in Object.wait() [0x00007f9ca2399000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.apache.commons.httpclient.util.IdleConnectionTimeoutThread.run(IdleConnectionTimeoutThread.java:108)\n\t- locked <0x00000000eedbf580> (a org.apache.commons.httpclient.util.IdleConnectionTimeoutThread)\n\n\"Thread-25\" #75 daemon prio=5 os_prio=0 tid=0x00007f9cc4695800 nid=0xafb waiting on condition [0x00007f9ca249a000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eedbff90> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].processing.time.monitor\" #74 daemon prio=5 os_prio=0 tid=0x00007f9cc4680000 nid=0xafa in Object.wait() [0x00007f9ca259b000]\n   java.lang.Thread.State: WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:143)\n\t- locked <0x00000000ee9002e0> (a java.lang.ref.ReferenceQueue$Lock)\n\tat java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:164)\n\tat org.mule.management.stats.DefaultProcessingTimeWatcher$ProcessingTimeChecker.run(DefaultProcessingTimeWatcher.java:76)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].echoFlow.stage1.01\" #73 prio=5 os_prio=0 tid=0x00007f9cc4576800 nid=0xaf9 in Object.wait() [0x00007f9ca2a9c000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.mule.util.queue.AbstractQueueStoreDelegate.poll(AbstractQueueStoreDelegate.java:81)\n\t- locked <0x00000000eec12850> (a org.mule.util.queue.DefaultQueueStoreDelegate)\n\tat org.mule.util.queue.DefaultQueueStore.poll(DefaultQueueStore.java:89)\n\tat org.mule.util.queue.CacheAwareQueueStore.poll(CacheAwareQueueStore.java:48)\n\tat org.mule.util.queue.TransactionAwareQueueStore.poll(TransactionAwareQueueStore.java:105)\n\tat org.mule.processor.SedaStageInterceptingMessageProcessor.dequeue(SedaStageInterceptingMessageProcessor.java:155)\n\tat org.mule.processor.SedaStageInterceptingMessageProcessor.run(SedaStageInterceptingMessageProcessor.java:230)\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].http.requester.HTTP_Request_Configuration.worker(2)\" #71 daemon prio=5 os_prio=0 tid=0x00007f9cc4551000 nid=0xaf7 waiting on condition [0x00007f9ca2c9e000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eec69ef0> (a java.util.concurrent.LinkedTransferQueue)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.LinkedTransferQueue.awaitMatch(LinkedTransferQueue.java:737)\n\tat java.util.concurrent.LinkedTransferQueue.xfer(LinkedTransferQueue.java:647)\n\tat java.util.concurrent.LinkedTransferQueue.take(LinkedTransferQueue.java:1265)\n\tat org.glassfish.grizzly.threadpool.FixedThreadPool$BasicWorker.getTask(FixedThreadPool.java:105)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:583)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].http.requester.HTTP_Request_Configuration.worker(1)\" #70 daemon prio=5 os_prio=0 tid=0x00007f9cc454f000 nid=0xaf6 waiting on condition [0x00007f9ca2d9f000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000eec69ef0> (a java.util.concurrent.LinkedTransferQueue)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.LinkedTransferQueue.awaitMatch(LinkedTransferQueue.java:737)\n\tat java.util.concurrent.LinkedTransferQueue.xfer(LinkedTransferQueue.java:647)\n\tat java.util.concurrent.LinkedTransferQueue.take(LinkedTransferQueue.java:1265)\n\tat org.glassfish.grizzly.threadpool.FixedThreadPool$BasicWorker.getTask(FixedThreadPool.java:105)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:583)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].http.requester.HTTP_Request_Configuration(1) SelectorRunner\" #69 daemon prio=5 os_prio=0 tid=0x00007f9cc454d800 nid=0xaf5 runnable [0x00007f9ca2ea0000]\n   java.lang.Thread.State: RUNNABLE\n\tat sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)\n\tat sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)\n\tat sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:79)\n\tat sun.nio.ch.SelectorImpl.lockAndDoSelect(SelectorImpl.java:86)\n\t- locked <0x00000000eec6ae38> (a sun.nio.ch.Util$2)\n\t- locked <0x00000000eec6ae28> (a java.util.Collections$UnmodifiableSet)\n\t- locked <0x00000000eec6ada0> (a sun.nio.ch.EPollSelectorImpl)\n\tat sun.nio.ch.SelectorImpl.select(SelectorImpl.java:97)\n\tat org.glassfish.grizzly.nio.DefaultSelectorHandler.select(DefaultSelectorHandler.java:115)\n\tat org.glassfish.grizzly.nio.SelectorRunner.doSelect(SelectorRunner.java:339)\n\tat org.glassfish.grizzly.nio.SelectorRunner.run(SelectorRunner.java:279)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:591)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"connection-pool-delays-thread-pool(1)\" #68 daemon prio=5 os_prio=0 tid=0x00007f9cc4549000 nid=0xaf4 in Object.wait() [0x00007f9ca2fa1000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.glassfish.grizzly.utils.DelayedExecutor$DelayedRunnable.run(DelayedExecutor.java:172)\n\t- locked <0x00000000eec7bc28> (a java.lang.Object)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.doWork(AbstractThreadPool.java:591)\n\tat org.glassfish.grizzly.threadpool.AbstractThreadPool$Worker.run(AbstractThreadPool.java:571)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Grizzly-IdleTimeoutFilter-IdleCheck\" #67 daemon prio=5 os_prio=0 tid=0x00007f9cc4514800 nid=0xaf3 in Object.wait() [0x00007f9ca30a2000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.glassfish.grizzly.utils.DelayedExecutor$DelayedRunnable.run(DelayedExecutor.java:172)\n\t- locked <0x00000000eec153f0> (a java.lang.Object)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Thread-22\" #66 daemon prio=5 os_prio=0 tid=0x00007f9cc445c000 nid=0xaf2 waiting on condition [0x00007f9ca33a3000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ee781be0> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"[ironman].Mule.01\" #65 prio=5 os_prio=0 tid=0x00007f9cc41de000 nid=0xaf1 waiting on condition [0x00007f9ca3839000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ee24bdc8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.LinkedBlockingDeque.pollFirst(LinkedBlockingDeque.java:522)\n\tat java.util.concurrent.LinkedBlockingDeque.poll(LinkedBlockingDeque.java:684)\n\tat org.mule.context.notification.ServerNotificationManager.run(ServerNotificationManager.java:270)\n\tat org.mule.work.WorkerContext.run(WorkerContext.java:286)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Thread-20\" #64 prio=5 os_prio=0 tid=0x00007f9cc41c5800 nid=0xaf0 waiting on condition [0x00007f9ca3b3a000]\n   java.lang.Thread.State: TIMED_WAITING (sleeping)\n\tat java.lang.Thread.sleep(Native Method)\n\tat com.mulesoft.ch.logging.appender.utils.SyncUtils.sleepQuietly(SyncUtils.java:21)\n\tat com.mulesoft.ch.logging.appender.utils.SyncUtils.sleepQuietly(SyncUtils.java:13)\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter.sleep(LogEmitter.java:109)\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter.access$400(LogEmitter.java:17)\n\tat com.mulesoft.ch.logging.appender.core.LogEmitter$1.run(LogEmitter.java:83)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Timer-1\" #63 prio=5 os_prio=0 tid=0x00007f9cc41c0000 nid=0xaef in Object.wait() [0x00007f9ca3c3b000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat java.util.TimerThread.mainLoop(Timer.java:552)\n\t- locked <0x00000000ee157648> (a java.util.TaskQueue)\n\tat java.util.TimerThread.run(Timer.java:505)\n\n\"pool-12-thread-1\" #62 prio=5 os_prio=0 tid=0x00007f9cc41c4000 nid=0xaee waiting on condition [0x00007f9ca3d3c000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ee15c8d8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"DataFileAppender Writer Thread\" #61 daemon prio=10 os_prio=0 tid=0x00007f9cc41af800 nid=0xaed waiting on condition [0x00007f9ccc223000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ee15d0d8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\tat java.util.concurrent.LinkedBlockingQueue.take(LinkedBlockingQueue.java:442)\n\tat org.fusesource.hawtjournal.api.DataFileAppender.processQueue(DataFileAppender.java:364)\n\tat org.fusesource.hawtjournal.api.DataFileAppender.access$200(DataFileAppender.java:47)\n\tat org.fusesource.hawtjournal.api.DataFileAppender$1.run(DataFileAppender.java:306)\n\n\"Scheduler-2107694755\" #60 prio=5 os_prio=0 tid=0x00007f9cc1a5e000 nid=0xaec waiting on condition [0x00007f9ccc425000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000edc24968> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Mule.app.deployer.monitor.1.thread.1\" #59 prio=1 os_prio=0 tid=0x00007f9cc1e4b800 nid=0xaeb waiting on condition [0x00007f9ca81e1000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000edcd7138> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"Log4j2-AsyncLoggerConfig-3\" #58 daemon prio=5 os_prio=0 tid=0x00007f9cc1eba000 nid=0xaea waiting on condition [0x00007f9ca82e2000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000edcd79b0> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\tat com.lmax.disruptor.BlockingWaitStrategy.waitFor(BlockingWaitStrategy.java:45)\n\tat com.lmax.disruptor.ProcessingSequenceBarrier.waitFor(ProcessingSequenceBarrier.java:55)\n\tat com.lmax.disruptor.BatchEventProcessor.run(BatchEventProcessor.java:123)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"pool-3-thread-2\" #57 prio=5 os_prio=0 tid=0x00007f9cc1eaf000 nid=0xae9 waiting on condition [0x00007f9ca83e3000]\n   java.lang.Thread.State: WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ec76d018> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2039)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1088)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"pool-3-thread-1\" #56 prio=5 os_prio=0 tid=0x00007f9cc1eae000 nid=0xae8 waiting on condition [0x00007f9ca84e4000]\n   java.lang.Thread.State: TIMED_WAITING (parking)\n\tat sun.misc.Unsafe.park(Native Method)\n\t- parking to wait for  <0x00000000ec76d018> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)\n\tat java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)\n\tat java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2078)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1093)\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:809)\n\tat java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1067)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1127)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\n\tat java.lang.Thread.run(Thread.java:745)\n\n\"java-sdk-http-connection-reaper\" #54 daemon prio=5 os_prio=0 tid=0x00007f9cc1eb4000 nid=0xae6 waiting on condition [0x00007f9ca87eb000]\n   java.lang.Thread.State: TIMED_WAITING (sleeping)\n\tat java.lang.Thread.sleep(Native Method)\n\tat com.amazonaws.http.IdleConnectionReaper.run(IdleConnectionReaper.java:112)\n\n\"Timer-0\" #53 daemon prio=5 os_prio=0 tid=0x00007f9cc1ce6800 nid=0xae5 in Object.wait() [0x00007f9ca9772000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\t- waiting on <0x00000000ecf82968> (a java.util.TaskQueue)\n\tat java.util.TimerThread.mainLoop(Timer.java:552)\n\t- locked <0x00000000ecf82968> (a java.util.TaskQueue)\n\tat java.util.TimerThread.run(Timer.java:505)\n\n\"scheduler_QuartzSchedulerThread\" #52 prio=5 os_prio=0 tid=0x00007f9cc1ce4000 nid=0xae4 in Object.wait() [0x00007f9ca9873000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.core.QuartzSchedulerThread.run(QuartzSchedulerThread.java:311)\n\t- locked <0x00000000ecf82f30> (a java.lang.Object)\n\n\"scheduler_Worker-10\" #51 prio=5 os_prio=0 tid=0x00007f9cc1cd0000 nid=0xae3 in Object.wait() [0x00007f9ca9974000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9ac30> (a java.lang.Object)\n\n\"scheduler_Worker-9\" #50 prio=5 os_prio=0 tid=0x00007f9cc1ccd800 nid=0xae2 in Object.wait() [0x00007f9ca9a75000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9ab50> (a java.lang.Object)\n\n\"scheduler_Worker-8\" #49 prio=5 os_prio=0 tid=0x00007f9cc1cc1800 nid=0xae1 in Object.wait() [0x00007f9ca9b76000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9aa70> (a java.lang.Object)\n\n\"scheduler_Worker-7\" #48 prio=5 os_prio=0 tid=0x00007f9cc1cbf800 nid=0xae0 in Object.wait() [0x00007f9ca9c77000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a990> (a java.lang.Object)\n\n\"scheduler_Worker-6\" #47 prio=5 os_prio=0 tid=0x00007f9cc1cbe000 nid=0xadf in Object.wait() [0x00007f9ca9d78000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a8b0> (a java.lang.Object)\n\n\"scheduler_Worker-5\" #46 prio=5 os_prio=0 tid=0x00007f9cc1cbc000 nid=0xade in Object.wait() [0x00007f9ca9e79000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a7d0> (a java.lang.Object)\n\n\"scheduler_Worker-4\" #45 prio=5 os_prio=0 tid=0x00007f9cc1cba800 nid=0xadd in Object.wait() [0x00007f9ca9f7a000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a6f0> (a java.lang.Object)\n\n\"scheduler_Worker-3\" #44 prio=5 os_prio=0 tid=0x00007f9cc1cb8800 nid=0xadc in Object.wait() [0x00007f9caa07b000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a610> (a java.lang.Object)\n\n\"scheduler_Worker-2\" #43 prio=5 os_prio=0 tid=0x00007f9cc1cb7000 nid=0xadb in Object.wait() [0x00007f9caa17c000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9a530> (a java.lang.Object)\n\n\"scheduler_Worker-1\" #42 prio=5 os_prio=0 tid=0x00007f9cc1cb4000 nid=0xada in Object.wait() [0x00007f9caa27d000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:568)\n\t- locked <0x00000000ecf9aea0> (a java.lang.Object)\n\n\"JmDNS(ip-10-255-164-29.local.).State.Timer\" #41 prio=5 os_prio=0 tid=0x00007f9cc1c52000 nid=0xad9 in Object.wait() [0x00007f9caa57e000]\n   java.lang.Thread.State: TIMED_WAITING (on object monitor)\n\tat java.lang.Object.wait(Native Method)\n\tat java.util.TimerThread.mainLoop(Timer.java:552)\n\t- locked <0x00000000eccadef0> (a java.util.TaskQueue)\n\tat java.util.TimerThread.run(Timer.java:505)\n\n\"JmDNS(ip-10-255-164-29.local.).Timer\" #40 daemon prio=5 os_pri
[...]
