openapi: 3.1.0

info:
  title: 公共交通オープンデータセンター (ODPT) Challenge API
  description: |
    ODPTチャレンジAPIの仕様書（JSON-LD形式で公共交通データを提供）
    
    本APIは、鉄道、バス、航空機の情報を提供するRESTful APIです。
    すべてのデータはJSON-LD形式で返されます。
    
    詳細な仕様については、`odpt-api-specification.md` を参照してください。
  version: "4.14"
  contact:
    name: 公共交通オープンデータ協議会
    email: info@odpt.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/

servers:
  - url: https://api-challenge.odpt.org/api/v4
    description: ODPTチャレンジAPIサーバー

security:
  - ApiKeyAuth: []

paths:
  "/odpt:Calendar":
    get:
      summary: カレンダー情報取得
      description: |
        曜日・日付区分(odpt:Calendar)の内容を取得します。
      operationId: getCalendar
      tags:
        - Common
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "urn:ucode:_00001C000000000000010000030FD7E5"
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Weekday"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Calendar'
              examples:
                calendar:
                  summary: カレンダー情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:Calendar"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Calendar:Weekday"
                      "dc:title": "平日"
                      "odpt:calendarTitle":
                        ja: "平日"
                        en: "Weekday"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Operator":
    get:
      summary: 事業者情報取得
      description: |
        公共交通機関の事業者(odpt:Operator)の内容を取得します。
      operationId: getOperator
      tags:
        - Common
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operator'
              examples:
                operator:
                  summary: 事業者情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:Operator"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Operator:JR-East"
                      "dc:title": "JR東日本"
                      "odpt:operatorTitle":
                        ja: "JR東日本"
                        en: "JR East"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Station":
    get:
      summary: 駅情報取得
      description: |
        駅情報を取得します。
      operationId: getStation
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "urn:ucode:_00001C000000000000010000031028E6"
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Station:JR-East.Yamanote.Tokyo"
        - name: dc:title
          in: query
          required: false
          description: 駅名（日本語）。コンマ区切りでOR検索
          schema:
            type: string
            example: "東京,五反田"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:railway
          in: query
          required: false
          description: 駅が存在する路線ID (odpt:Railwayのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.Yamanote"
        - name: odpt:stationCode
          in: query
          required: false
          description: 駅ナンバリング（e.g. OH01=小田急新宿駅）
          schema:
            type: string
            example: "OH01"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'
              examples:
                station:
                  summary: 駅情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000031028E6"
                      "@type": "odpt:Station"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Station:JR-East.Yamanote.Tokyo"
                      "dc:title": "東京"
                      "odpt:stationTitle":
                        ja: "東京"
                        en: "Tokyo"
                      "odpt:operator": "odpt.Operator:JR-East"
                      "odpt:railway": "odpt.Railway:JR-East.Yamanote"
                      "geo:long": 139.766926
                      "geo:lat": 35.681265
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Railway":
    get:
      summary: 路線情報取得
      description: |
        路線情報を取得します。
      operationId: getRailway
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.Yamanote"
        - name: dc:title
          in: query
          required: false
          description: 路線名（日本語）。e.g. 小田原線、京王線、相模原線
          schema:
            type: string
            example: "小田原線"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:lineCode
          in: query
          required: false
          description: 路線コード、路線シンボル表記（e.g. 小田原線 => OH、丸ノ内線 => M）
          schema:
            type: string
            example: "OH"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Railway'
              examples:
                railway:
                  summary: 路線情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:Railway"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Railway:JR-East.ChuoRapid"
                      "dc:title": "中央線快速"
                      "odpt:railwayTitle":
                        ja: "中央線快速"
                        en: "Chuo Rapid Line"
                      "odpt:operator": "odpt.Operator:JR-East"
                      "odpt:ascendingRailDirection": "odpt.RailDirection:Outbound"
                      "odpt:descendingRailDirection": "odpt.RailDirection:Inbound"
                      "odpt:stationOrder":
                        - "odpt:index": 1
                          "odpt:station": "odpt.Station:JR-East.ChuoRapid.Tokyo"
                          "odpt:stationTitle":
                            ja: "東京"
                            en: "Tokyo"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:StationTimetable":
    get:
      summary: 駅時刻表取得
      description: |
        駅時刻表を取得します。
      operationId: getStationTimetable
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.StationTimetable:JR-East.ChuoRapid.Tokyo.Outbound.Weekday"
        - name: odpt:station
          in: query
          required: false
          description: 駅を表すID（odpt:Stationのowl:sameAs）
          schema:
            type: string
            format: uri
            example: "odpt.Station:JR-East.ChuoRapid.Tokyo"
        - name: odpt:railway
          in: query
          required: false
          description: 路線を表すID（odpt:Railwayのowl:sameAs）
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.ChuoRapid"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID（odpt:Operatorのowl:sameAs）
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:railDirection
          in: query
          required: false
          description: 進行方向を表すID（odpt:RailDirectionのowl:sameAs）
          schema:
            type: string
            format: uri
            example: "odpt.RailDirection:Outbound"
        - name: odpt:calendar
          in: query
          required: false
          description: 実施日を表すID（odpt:Calendarのowl:sameAs）
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Weekday"
        - name: dc:date
          in: query
          required: false
          description: 特定日付の時刻表を取得
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationTimetable'
              examples:
                stationTimetable:
                  summary: 駅時刻表の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:StationTimetable"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "dct:issued": "2017-01-01"
                      "owl:sameAs": "odpt.StationTimetable:JR-East.ChuoRapid.Tokyo.Outbound.Weekday"
                      "odpt:operator": "odpt.Operator:JR-East"
                      "odpt:railway": "odpt.Railway:JR-East.ChuoRapid"
                      "odpt:station": "odpt.Station:JR-East.ChuoRapid.Tokyo"
                      "odpt:railDirection": "odpt.RailDirection:Outbound"
                      "odpt:calendar": "odpt.Calendar:Weekday"
                      "odpt:stationTimetableObject":
                        - "odpt:departureTime": "06:00"
                          "odpt:destinationStation": ["odpt.Station:JR-East.ChuoRapid.Takao"]
                          "odpt:trainType": "odpt.TrainType:JR-East.Rapid"
                        - "odpt:departureTime": "06:10"
                          "odpt:destinationStation": ["odpt.Station:JR-East.ChuoRapid.Takao"]
                          "odpt:trainType": "odpt.TrainType:JR-East.Rapid"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:RailDirection":
    get:
      summary: 進行方向情報取得
      description: |
        進行方向の定義を取得します。
      operationId: getRailDirection
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）。コンマ区切りで複数指定可能
          schema:
            type: string
            format: uri
            example: "odpt.RailDirection:Inbound,odpt.RailDirection:Outbound"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RailDirection'
              examples:
                railDirection:
                  summary: 進行方向情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:RailDirection"
                      "dc:date": "2017-01-13T06:10:00+0000"
                      "owl:sameAs": "odpt.RailDirection:Inbound"
                      "dc:title": "上り"
                      "odpt:railDirectionTitle":
                        ja: "上り"
                        en: "Inbound"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:TrainType":
    get:
      summary: 電車種別情報取得
      description: |
        列車種別の定義を取得します。
      operationId: getTrainType
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.TrainType:JR-East.Local"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainType'
              examples:
                trainType:
                  summary: 電車種別情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:TrainType"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.TrainType:JR-East.Local"
                      "odpt:operator": "odpt.Operator:JR-East"
                      "dc:title": "普通"
                      "odpt:trainTypeTitle":
                        ja: "普通"
                        en: "Local"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:TrainInformation":
    get:
      summary: 運行情報取得
      description: |
        列車運行情報を取得します。
      operationId: getTrainInformation
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.TrainInformation:TokyoMetro.Ginza"
        - name: odpt:operator
          in: query
          required: false
          description: 運行情報を配信する事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:TokyoMetro"
        - name: odpt:railway
          in: query
          required: false
          description: 運行情報が発生した路線のID (odpt:Railwayのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Railway:TokyoMetro.Ginza"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainInformation'
              examples:
                trainInformation:
                  summary: 運行情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030C3BE4"
                      "@type": "odpt:TrainInformation"
                      "dc:date": "2017-12-07T01:25:03+09:00"
                      "owl:sameAs": "odpt.TrainInformation:TokyoMetro.Ginza"
                      "dct:valid": "2017-12-07T01:30:03+09:00"
                      "odpt:timeOfOrigin": "2017-11-21T11:31:00+09:00"
                      "odpt:operator": "odpt.Operator:TokyoMetro"
                      "odpt:railway": "odpt.Railway:TokyoMetro.Ginza"
                      "odpt:trainInformationText":
                        ja: "現在、平常どおり運転しています。"
                        en: "Running on schedule."
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:PassengerSurvey":
    get:
      summary: 乗降人員数調査情報取得
      description: |
        駅の乗降人員数を取得します。
      operationId: getPassengerSurvey
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.PassengerSurvey:JR-East.Tokyo"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:station
          in: query
          required: false
          description: 駅を表すID (odpt:Stationのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Station:JR-East.Yamanote.Tokyo"
        - name: odpt:railway
          in: query
          required: false
          description: 路線を表すID (odpt:Railwayのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.Yamanote"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:RailwayFare":
    get:
      summary: 運賃情報取得
      description: |
        2駅間の運賃を取得します。
      operationId: getRailwayFare
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.RailwayFare:TokyoMetro.Marunouchi.Tokyo.TokyoMetro.Tozai.Nakano"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者を表すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:TokyoMetro"
        - name: odpt:fromStation
          in: query
          required: false
          description: 出発駅のID (odpt:Stationのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Station:TokyoMetro.Marunouchi.Tokyo"
        - name: odpt:toStation
          in: query
          required: false
          description: 到着駅のID (odpt:Stationのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Station:TokyoMetro.Tozai.Nakano"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
              examples:
                railwayFare:
                  summary: 運賃情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:RailwayFare"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.RailwayFare:TokyoMetro.Marunouchi.Tokyo.TokyoMetro.Tozai.Nakano"
                      "odpt:operator": "odpt.Operator:TokyoMetro"
                      "odpt:fromStation": "odpt.Station:TokyoMetro.Marunouchi.Tokyo"
                      "odpt:toStation": "odpt.Station:TokyoMetro.Tozai.Nakano"
                      "odpt:ticketFare": 240
                      "odpt:icCardFare": 237
                      "odpt:childTicketFare": 120
                      "odpt:childIcCardFare": 118
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:TrainTimetable":
    get:
      summary: 列車時刻表取得
      description: |
        列車時刻表を取得します。
      operationId: getTrainTimetable
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: 固有識別子
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: 固有識別子別名
          schema:
            type: string
            format: uri
            example: "odpt.TrainTimetable:JR-East.ChuoRapid.123M.Weekday"
        - name: odpt:trainNumber
          in: query
          required: false
          description: 列車番号
          schema:
            type: string
            example: "123M"
        - name: odpt:railway
          in: query
          required: false
          description: 路線のID (odpt:Railwayのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.ChuoRapid"
        - name: odpt:operator
          in: query
          required: false
          description: 運行事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:trainType
          in: query
          required: false
          description: 列車種別ID (odpt:TrainTypeのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.TrainType:JR-East.Rapid"
        - name: odpt:train
          in: query
          required: false
          description: 該当する列車ID (odpt:Trainのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:calendar
          in: query
          required: false
          description: 特定のカレンダー情報ID (odpt:Calendarのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Weekday"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Train":
    get:
      summary: 列車情報取得
      description: |
        列車情報(列車の位置情報)を取得します。
      operationId: getTrain
      tags:
        - Railway
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名
          schema:
            type: string
            format: uri
            example: "odpt.Train:JR-East.Yamanote.123M"
        - name: odpt:operator
          in: query
          required: false
          description: 列車情報を配信する事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:JR-East"
        - name: odpt:railway
          in: query
          required: false
          description: 当該列車が運行している路線のID (odpt:Railwayのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Railway:JR-East.Yamanote"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Bus":
    get:
      summary: バス情報取得
      description: |
        バス車両の運行情報を取得します。
      operationId: getBus
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Bus:Toei.Ou57.40301.1.V366"
        - name: odpt:busroutePattern
          in: query
          required: false
          description: バス車両の運行系統のID (odpt:BusroutePatternのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.BusroutePattern:Toei.Ou57.40301.1"
        - name: odpt:operator
          in: query
          required: false
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:Toei"
        - name: odpt:fromBusstopPole
          in: query
          required: false
          description: 直近に通過した、あるいは停車中のバス停のID (odpt:BusstopPoleのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:toBusstopPole
          in: query
          required: false
          description: 次に到着するバス停のID (odpt:BusstopPoleのowl:sameAs)
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:BusTimetable":
    get:
      summary: バス時刻表取得
      description: |
        バス時刻表を取得します。
      operationId: getBusTimetable
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.BusTimetable:SeibuBus.NeriDaka01.1001.1.1.Weekday"
        - name: odpt:operator
          in: query
          required: true
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:SeibuBus"
        - name: odpt:busroutePattern
          in: query
          required: false
          description: 対応する系統のID (odpt:BusroutePatternのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: dc:title
          in: query
          required: false
          description: バス路線名称（系統名等）
          schema:
            type: string
        - name: odpt:calendar
          in: query
          required: false
          description: カレンダーのID (odpt:Calendarのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Weekday"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:BusroutePattern":
    get:
      summary: バス路線パターン取得
      description: |
        運行系統情報を取得します。
      operationId: getBusroutePattern
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: dc:title
          in: query
          required: false
          description: 路線・系統名称
          schema:
            type: string
        - name: odpt:operator
          in: query
          required: false
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:Toei"
        - name: odpt:busroute
          in: query
          required: false
          description: 路線のID
          schema:
            type: string
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:BusroutePatternFare":
    get:
      summary: バス運賃情報取得
      description: |
        運賃情報を取得します。
      operationId: getBusroutePatternFare
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: odpt:operator
          in: query
          required: false
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:Toei"
        - name: odpt:fromBusstopPole
          in: query
          required: false
          description: 乗車バス停(標柱)のID (odpt:BusstopPoleのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:toBusstopPole
          in: query
          required: false
          description: 降車バス停(標柱)のID (odpt:BusstopPoleのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:ticketFare
          in: query
          required: false
          description: 切符利用時の運賃
          schema:
            type: integer
        - name: odpt:childTicketFare
          in: query
          required: false
          description: 切符利用時の子供運賃
          schema:
            type: integer
        - name: odpt:icCardFare
          in: query
          required: false
          description: ICカード利用時の運賃
          schema:
            type: integer
        - name: odpt:childIcCardFare
          in: query
          required: false
          description: ICカード利用時の子供運賃
          schema:
            type: integer
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:BusstopPole":
    get:
      summary: バス停標柱情報取得
      description: |
        バス停(標柱)の情報を取得します。
      operationId: getBusstopPole
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.BusstopPole:Toei.Akabaneekihigashiguchi.21.1"
        - name: dc:title
          in: query
          required: false
          description: 停留所名称
          schema:
            type: string
        - name: odpt:busstopPoleNumber
          in: query
          required: false
          description: 標柱番号
          schema:
            type: string
        - name: odpt:platformNumber
          in: query
          required: false
          description: のりば番号
          schema:
            type: string
        - name: odpt:busroutePattern
          in: query
          required: false
          description: 標柱で発着する系統のID (odpt:BusroutePatternのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:operator
          in: query
          required: false
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:Toei"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:BusstopPoleTimetable":
    get:
      summary: バス停標柱時刻表取得
      description: |
        バス停(標柱)時刻表を取得します。
      operationId: getBusstopPoleTimetable
      tags:
        - Bus
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.BusstopPoleTimetable:Toei.Ou57.Akabaneekihigashiguchi.21.1.Toshimagochoumedanchi.Weekday"
        - name: odpt:busstopPole
          in: query
          required: false
          description: 時刻表の対応するバス停(標柱)のID (odpt:BusstopPoleのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:busDirection
          in: query
          required: false
          description: 方面のID
          schema:
            type: string
        - name: odpt:busroute
          in: query
          required: false
          description: 路線のID
          schema:
            type: string
        - name: odpt:operator
          in: query
          required: false
          description: 事業者のID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:Toei"
        - name: odpt:calendar
          in: query
          required: false
          description: カレンダーのID (odpt:Calendarのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Weekday"
        - name: dc:date
          in: query
          required: false
          description: データ生成日付
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/places/odpt:Station":
    get:
      summary: 駅の地物情報検索
      description: |
        地理情報を用いた領域絞込検索を行います。
        指定した中心座標と半径の範囲内にある駅を検索できます。
      operationId: searchStationsByPlace
      tags:
        - Places Search
      parameters:
        - name: lat
          in: query
          required: true
          description: 取得する範囲の中心緯度（10進数表記、測地系はWGS84）
          schema:
            type: number
            format: double
            example: 35.681265
        - name: lon
          in: query
          required: true
          description: 取得する範囲の中心経度（10進数表記、測地系はWGS84）
          schema:
            type: number
            format: double
            example: 139.766926
        - name: radius
          in: query
          required: true
          description: 取得する範囲の半径（メートル、0-4000mの範囲）
          schema:
            type: integer
            minimum: 0
            maximum: 4000
            example: 1000
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: dc:title
          in: query
          required: false
          description: 駅名（日本語）によるフィルタリング。コンマ区切りでOR検索
          schema:
            type: string
            example: "東京,五反田"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'
              examples:
                stations:
                  summary: 駅検索結果の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000031028E6"
                      "@type": "odpt:Station"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Station:JR-East.Yamanote.Tokyo"
                      "dc:title": "東京"
                      "odpt:stationTitle":
                        ja: "東京"
                        en: "Tokyo"
                      "odpt:operator": "odpt.Operator:JR-East"
                      "odpt:railway": "odpt.Railway:JR-East.Yamanote"
                      "geo:long": 139.766926
                      "geo:lat": 35.681265
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/places/odpt:BusstopPole":
    get:
      summary: バス停標柱の地物情報検索
      description: |
        地理情報を用いた領域絞込検索を行います。
        指定した中心座標と半径の範囲内にあるバス停標柱を検索できます。
      operationId: searchBusstopPolesByPlace
      tags:
        - Places Search
      parameters:
        - name: lat
          in: query
          required: true
          description: 取得する範囲の中心緯度（10進数表記、測地系はWGS84）
          schema:
            type: number
            format: double
            example: 35.681265
        - name: lon
          in: query
          required: true
          description: 取得する範囲の中心経度（10進数表記、測地系はWGS84）
          schema:
            type: number
            format: double
            example: 139.766926
        - name: radius
          in: query
          required: true
          description: 取得する範囲の半径（メートル、0-4000mの範囲）
          schema:
            type: integer
            minimum: 0
            maximum: 4000
            example: 1000
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:Airport":
    get:
      summary: 空港情報取得
      description: |
        空港の情報を取得します。
      operationId: getAirport
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.Airport:HND"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
              examples:
                airport:
                  summary: 空港情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:Airport"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.Airport:HND"
                      "dc:title": "東京(羽田)"
                      "odpt:airportTitle":
                        ja: "東京(羽田)"
                        en: "Tokyo (Haneda)"
                      "odpt:airportTerminal": ["odpt.AirportTerminal:HND.DomesticTerminal1", "odpt.AirportTerminal:HND.DomesticTerminal2", "odpt.AirportTerminal:HND.InternationalTerminal"]
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:AirportTerminal":
    get:
      summary: 空港ターミナル情報取得
      description: |
        空港のターミナルの情報を取得します。
      operationId: getAirportTerminal
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.AirportTerminal:HND.DomesticTerminal1"
        - name: odpt:airport
          in: query
          required: false
          description: 空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Airport:HND"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:FlightInformationArrival":
    get:
      summary: フライト到着情報取得
      description: |
        フライト到着情報(空港に当日到着する航空機のリアルタイムな情報)を取得します。
      operationId: getFlightInformationArrival
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.FlightInformationArrival:NAA.NRT.NH832"
        - name: odpt:operator
          in: query
          required: false
          description: 空港事業者または航空事業者を示すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:airline
          in: query
          required: false
          description: エアラインの運行会社を示すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:ANA"
        - name: odpt:flightStatus
          in: query
          required: false
          description: フライト状況を示すID (odpt:FlightStatusのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.FlightStatus:Arrived"
        - name: odpt:arrivalAirport
          in: query
          required: false
          description: 到着空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Airport:NRT"
        - name: odpt:arrivalAirportTerminal
          in: query
          required: false
          description: 到着空港ターミナルを示すID (odpt:AirportTerminalのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:arrivalGate
          in: query
          required: false
          description: 到着空港ゲート番号
          schema:
            type: string
        - name: odpt:originAirport
          in: query
          required: false
          description: 出発地の空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:FlightInformationDeparture":
    get:
      summary: フライト出発情報取得
      description: |
        フライト出発情報(空港を当日出発する航空機のリアルタイムな情報)を取得します。
      operationId: getFlightInformationDeparture
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.FlightInformationDeparture:NAA.NRT.NH832"
        - name: odpt:operator
          in: query
          required: false
          description: 空港事業者または航空事業者を示すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:airline
          in: query
          required: false
          description: エアラインの運行会社を示すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Operator:ANA"
        - name: odpt:flightStatus
          in: query
          required: false
          description: フライト状況を示すID (odpt:FlightStatusのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.FlightStatus:Takeoff"
        - name: odpt:departureAirport
          in: query
          required: false
          description: 出発空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Airport:NRT"
        - name: odpt:departureAirportTerminal
          in: query
          required: false
          description: 出発空港ターミナルを示すID (odpt:AirportTerminalのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:departureGate
          in: query
          required: false
          description: 出発空港ゲート番号
          schema:
            type: string
        - name: odpt:destinationAirport
          in: query
          required: false
          description: 目的地の空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:FlightSchedule":
    get:
      summary: フライト時刻表取得
      description: |
        フライト時刻表(空港を発着する航空機の予定時刻表)を取得します。
      operationId: getFlightSchedule
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.FlightSchedule:HND-TIAT.HND.IWJ.Wednesday"
        - name: odpt:operator
          in: query
          required: false
          description: 空港事業者または航空事業者を示すID (odpt:Operatorのowl:sameAs)
          schema:
            type: string
            format: uri
        - name: odpt:calendar
          in: query
          required: false
          description: 運行日を示すID (odpt:Calendarのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Calendar:Wednesday"
        - name: odpt:originAirport
          in: query
          required: false
          description: 出発地の空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Airport:HND"
        - name: odpt:destinationAirport
          in: query
          required: false
          description: 目的地の空港を示すID (odpt:Airportのowl:sameAs)
          schema:
            type: string
            format: uri
            example: "odpt.Airport:IWJ"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/odpt:FlightStatus":
    get:
      summary: フライトステータス情報取得
      description: |
        フライト状況の定義を取得します。
      operationId: getFlightStatus
      tags:
        - Flight
      parameters:
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
        - name: "@id"
          in: query
          required: false
          description: データに付与された固有識別子（フィルタリング用）
          schema:
            type: string
            format: uri
        - name: owl:sameAs
          in: query
          required: false
          description: データに付与された固有識別子の別名（フィルタリング用）
          schema:
            type: string
            format: uri
            example: "odpt.FlightStatus:CheckIn"
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OdptDataObject'
              examples:
                flightStatus:
                  summary: フライトステータス情報の例
                  value:
                    - "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                      "@id": "urn:ucode:_00001C000000000000010000030FD7E5"
                      "@type": "odpt:FlightStatus"
                      "dc:date": "2017-01-13T15:10:00+09:00"
                      "owl:sameAs": "odpt.FlightStatus:CheckIn"
                      "dc:title": "搭乗手続中"
                      "odpt:flightStatusTitle":
                        ja: "搭乗手続中"
                        en: "Check in"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

  "/datapoints/{dataUri}":
    get:
      summary: データ取得API
      description: |
        DATA_URIで指定されたURIをIDに持つデータを取得します。
        $DATA_URIに指定できるIDとして、urn:ucode:_ から始まるucode、または各データに記載された owl:sameAs の値を指定できます。
      operationId: getDataPoint
      tags:
        - Data Points
      parameters:
        - name: dataUri
          in: path
          required: true
          description: |
            取得するデータのURI。
            ucode形式（urn:ucode:_...）またはowl:sameAs形式（例: odpt.Station:JR-East.Yamanote.Tokyo）を指定
          schema:
            type: string
            example: "odpt.Station:JR-East.Yamanote.Tokyo"
        - name: acl:consumerKey
          in: query
          required: true
          description: developerサイトにて発行されたアクセストークン
          schema:
            type: string
      responses:
        "200":
          description: 正常終了
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OdptDataObject'
              examples:
                station:
                  summary: 駅情報の例
                  value:
                    "@context": "http://vocab.odpt.org/context_odpt.jsonld"
                    "@id": "urn:ucode:_00001C000000000000010000031028E6"
                    "@type": "odpt:Station"
                    "dc:date": "2017-01-13T15:10:00+09:00"
                    "owl:sameAs": "odpt.Station:JR-East.Yamanote.Tokyo"
                    "dc:title": "東京"
                    "odpt:stationTitle":
                      ja: "東京"
                      en: "Tokyo"
                    "odpt:operator": "odpt.Operator:JR-East"
                    "odpt:railway": "odpt.Railway:JR-East.Yamanote"
                    "geo:long": 139.766926
                    "geo:lat": 35.681265
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "402":
          description: 課金が必要
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: acl:consumerKey
      description: |
        developerサイトにて発行されたアクセストークン
        すべてのリクエストで必須

  responses:
    BadRequest:
      description: パラメータ不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: acl:consumerKeyが誤っている
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 権限なし
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 該当データ無し
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    MethodNotAllowed:
      description: 許可されていないHTTP Method
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: サーバー内部エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: サービス利用不可
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # 共通プロパティ（すべてのODPTデータ型に共通）
    JsonLdContext:
      type: object
      properties:
        "@context":
          type: string
          format: uri
          description: JSON-LD仕様に基づく @context のURL
          example: "http://vocab.odpt.org/context_odpt.jsonld"
        "@id":
          type: string
          format: uri
          description: 固有識別子(ucode)
          example: "urn:ucode:_00001C000000000000010000030FD7E5"
        "@type":
          type: string
          description: クラス指定
          example: "odpt:Station"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子の別名
          example: "odpt.Station:JR-East.Yamanote.Tokyo"
        "dc:date":
          type: string
          format: date-time
          description: データ生成日時（ISO8601 日付時刻形式）
          example: "2017-01-13T15:10:00+09:00"

    # 多言語対応オブジェクト
    MultilingualTitle:
      type: object
      properties:
        ja:
          type: string
          description: 日本語のタイトル
        en:
          type: string
          description: 英語のタイトル
      additionalProperties:
        type: string

    # 共通クラス
    Calendar:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:Calendar"]
          example: "odpt:Calendar"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.Calendar:名称(.期間)
          example: "odpt.Calendar:Weekday"
          x-restfului-link: 
            - "/odpt:StationTimetable?odpt:calendar={owl:sameAs}"
        "dc:title":
          type: string
          description: カレンダー名称（日本語）。e.g. 平日、休日、市場休日
          example: "平日"
        "odpt:calendarTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:day":
          type: array
          items:
            type: string
            format: date
          description: 該当する日付のリスト。値は全てISO8601の日付形式。
          example: ["2017-01-13", "2017-01-18"]
        "odpt:duration":
          type: string
          description: カレンダー有効期間。値は全てISO8601の期間形式。
          example: "2017-11-13/2017-11-18"
      additionalProperties: true

    Operator:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:Operator"]
          example: "odpt:Operator"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.Operator:名称
          example: "odpt.Operator:JR-East"
          x-restfului-link: 
            - "/odpt:Railway?odpt:operator={owl:sameAs}"
            - "/odpt:Station?odpt:operator={owl:sameAs}"
            - "/odpt:TrainType?odpt:operator={owl:sameAs}"
            - "/odpt:StationTimetable?odpt:operator={owl:sameAs}"
            - "/odpt:TrainInformation?odpt:operator={owl:sameAs}"
            - "/odpt:FlightInformationArrival?odpt:airline={owl:sameAs}"
            - "/odpt:FlightInformationDeparture?odpt:airline={owl:sameAs}"
        "dc:title":
          type: string
          description: 事業者名称（日本語）
          example: "JR東日本"
        "odpt:operatorTitle":
          $ref: '#/components/schemas/MultilingualTitle'
      additionalProperties: true

    # 鉄道関連データ型
    Station:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:Station"]
          example: "odpt:Station"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.Station:会社名.路線名.駅名
          example: "odpt.Station:JR-East.Yamanote.Tokyo"
          x-restfului-link: 
            - "/odpt:Railway?odpt:railway={owl:sameAs}"
            - "/odpt:StationTimetable?odpt:station={owl:sameAs}"
            - "/odpt:Railway?odpt:stationOrder={owl:sameAs}"
            - "/odpt:Station?odpt:connectingStation={owl:sameAs}"
            - "/odpt:RailwayFare?odpt:fromStation={owl:sameAs}"
            - "/odpt:RailwayFare?odpt:toStation={owl:sameAs}"
        "dc:title":
          type: string
          description: 駅名（日本語）
          example: "東京"
        "odpt:stationTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:operator":
          type: string
          format: uri
          description: 運行会社を表すID (odpt:Operatorのowl:sameAs)
          example: "odpt.Operator:JR-East"
          x-restfului-link: 
            - "/odpt:Operator?owl:sameAs={odpt:operator}"
        "odpt:railway":
          type: string
          format: uri
          description: 路線を表すID (odpt:Railwayのowl:sameAs)
          example: "odpt.Railway:JR-East.Yamanote"
          x-restfului-link: 
            - "/odpt:Railway?owl:sameAs={odpt:railway}"
        "odpt:stationCode":
          type: string
          description: 駅コード
          example: "JY01"
        "geo:long":
          type: number
          description: 代表点の経度 (10進表記、測地系はWGS84)
          example: 139.766926
        "geo:lat":
          type: number
          description: 代表点の緯度 (10進表記、測地系はWGS84)
          example: 35.681265
        "odpt:stationTimetable":
          type: array
          items:
            type: string
            format: uri
            x-restfului-link: 
              - "/odpt:StationTimetable?owl:sameAs={$value}"
          description: 駅時刻表のID (odpt:StationTimetableのowl:sameAs) のリスト
        "odpt:connectingRailway":
          type: array
          items:
            type: string
            format: uri
            x-restfului-link: 
              - "/odpt:Railway?owl:sameAs={$value}"
          description: 乗り換え可能路線のID (odpt:Railwayのowl:sameAs) のリスト
        "odpt:connectingStation":
          type: array
          items:
            type: string
            format: uri
            x-restfului-link: 
              - "/odpt:Station?owl:sameAs={$value}"
          description: 乗り換え可能駅のID (odpt:Stationのowl:sameAs) のリスト
      additionalProperties: true

    Railway:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:Railway"]
          example: "odpt:Railway"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.Railway:会社名.路線名
          example: "odpt.Railway:JR-East.Yamanote"
          x-restfului-link: 
            - "/odpt:Station?odpt:railway={owl:sameAs}"
            - "/odpt:StationTimetable?odpt:railway={owl:sameAs}"
            - "/odpt:TrainInformation?odpt:railway={owl:sameAs}"
            - "/odpt:Station?odpt:connectingRailway={owl:sameAs}"
        "dc:title":
          type: string
          description: 路線名（日本語）
          example: "山手線"
        "odpt:railwayTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:operator":
          type: string
          format: uri
          description: 運行会社を表すID (odpt:Operatorのowl:sameAs)
          example: "odpt.Operator:JR-East"
          x-restfului-link: 
            - "/odpt:Operator?owl:sameAs={odpt:operator}"
        "odpt:lineCode":
          type: string
          description: 路線コード、路線シンボル表記を格納。e.g. 丸ノ内線=>M
          example: "M"
        "odpt:ascendingRailDirection":
          type: string
          format: uri
          description: 昇順の進行方向を表すID
          example: "odpt.RailDirection:Outbound"
          x-restfului-link: 
            - "/odpt:RailDirection?owl:sameAs={odpt:ascendingRailDirection}"
        "odpt:descendingRailDirection":
          type: string
          format: uri
          description: 降順の進行方向を表すID
          example: "odpt.RailDirection:Inbound"
          x-restfului-link: 
            - "/odpt:RailDirection?owl:sameAs={odpt:descendingRailDirection}"
        "odpt:stationOrder":
          type: array
          items:
            $ref: '#/components/schemas/StationOrder'
          description: 駅の順序を表すリスト
      additionalProperties: true

    StationOrder:
      type: object
      properties:
        "odpt:station":
          type: string
          format: uri
          description: 駅を表すID (odpt:Stationのowl:sameAs)
          example: "odpt.Station:JR-East.ChuoRapid.Tokyo"
          x-restfului-link: 
            - "/odpt:Station?owl:sameAs={odpt:station}"
        "odpt:stationTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:index":
          type: integer
          description: 駅の順序を示す整数値
          example: 1
      additionalProperties: true

    RailDirection:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:RailDirection"]
          example: "odpt:RailDirection"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.RailDirection:進行方向 または odpt.RailDirection:会社名.進行方向
          example: "odpt.RailDirection:Inbound"
          x-restfului-link: 
            - "/odpt:StationTimetable?odpt:railDirection={owl:sameAs}"
            - "/odpt:TrainInformation?odpt:railDirection={owl:sameAs}"
            - "/odpt:Railway?odpt:ascendingRailDirection={owl:sameAs}"
            - "/odpt:Railway?odpt:descendingRailDirection={owl:sameAs}"
        "dc:title":
          type: string
          description: 進行方向（日本語）
          example: "上り"
        "odpt:railDirectionTitle":
          $ref: '#/components/schemas/MultilingualTitle'
      additionalProperties: true

    TrainType:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:TrainType"]
          example: "odpt:TrainType"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.TrainType:会社名.列車種別
          example: "odpt.TrainType:JR-East.Local"
          x-restfului-link: 
            - "/odpt:Operator?odpt:operator={owl:sameAs}"
            - "/odpt:StationTimetable?odpt:trainType={owl:sameAs}"
        "odpt:operator":
          type: string
          format: uri
          description: 運行会社を表すID (odpt:Operatorのowl:sameAs)
          example: "odpt.Operator:JR-East"
          x-restfului-link: 
            - "/odpt:Operator?owl:sameAs={odpt:operator}"
        "dc:title":
          type: string
          description: 列車種別（日本語）
          example: "普通"
        "odpt:trainTypeTitle":
          $ref: '#/components/schemas/MultilingualTitle'
      additionalProperties: true

    StationTimetableObject:
      type: object
      properties:
        "odpt:arrivalTime":
          type: string
          description: 到着時刻 (ISO8601時刻形式)
          example: "05:08"
        "odpt:departureTime":
          type: string
          description: 出発時刻 (ISO8601時刻形式)
          example: "06:00"
        "odpt:originStation":
          type: array
          items:
            type: string
            format: uri
          x-restfului-link: 
            - "/odpt:Station?owl:sameAs={$value}"
          description: 始発駅を表すID (odpt:Stationのowl:sameAs) のリスト
        "odpt:destinationStation":
          type: array
          items:
            type: string
            format: uri
          x-restfului-link: 
            - "/odpt:Station?owl:sameAs={$value}"
          description: 終着駅(行先駅)を表すID (odpt:Stationのowl:sameAs) のリスト
        "odpt:viaStation":
          type: array
          items:
            type: string
            format: uri
          x-restfului-link: 
            - "/odpt:Station?owl:sameAs={$value}"
          description: 経由駅を表すID (odpt:Stationのowl:sameAs) のリスト
        "odpt:viaRailway":
          type: array
          items:
            type: string
            format: uri
          x-restfului-link: 
            - "/odpt:Railway?owl:sameAs={$value}"
          description: 経由路線を表すID (odpt:Railwayのowl:sameAs) のリスト
        "odpt:train":
          type: string
          format: uri
          description: 到着または出発する列車ID (odpt:Trainのowl:sameAs)
          x-restfului-link: 
            - "/odpt:Train?owl:sameAs={odpt:train}"
        "odpt:trainNumber":
          type: string
          description: 列車番号
          example: "123M"
        "odpt:trainType":
          type: string
          format: uri
          description: 列車種別のID (odpt:TrainTypeのowl:sameAs)
          example: "odpt.TrainType:JR-East.Local"
          x-restfului-link: 
            - "/odpt:TrainType?owl:sameAs={odpt:trainType}"
        "odpt:isLast":
          type: boolean
          description: 最終電車の場合、true
        "odpt:isOrigin":
          type: boolean
          description: 始発駅の場合、true
        "odpt:platformNumber":
          type: string
          description: 列車が到着するプラットフォームの番号
          example: "1"
        "odpt:carComposition":
          type: integer
          description: 車両数（駅に停車する車両数が列車毎に異なる場合に格納する）
          example: 8
      additionalProperties: true

    StationTimetable:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:StationTimetable"]
          example: "odpt:StationTimetable"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.StationTimetable:会社名.路線名.駅名.方面名.曜日種別
          example: "odpt.StationTimetable:JR-East.ChuoRapid.Tokyo.Outbound.Weekday"
          x-restfului-link: 
            - "/odpt:Station?odpt:station={owl:sameAs}"
            - "/odpt:Railway?odpt:railway={owl:sameAs}"
        "dct:issued":
          type: string
          format: date
          description: ダイヤ改正日（ISO8601 日付形式）
          example: "2017-01-01"
        "dct:valid":
          type: string
          format: date-time
          description: データの保証期限（ISO8601 日付時刻形式）
        "odpt:operator":
          type: string
          format: uri
          description: 運行会社を表すID (odpt:Operatorのowl:sameAs)
          example: "odpt.Operator:JR-East"
          x-restfului-link: 
            - "/odpt:Operator?owl:sameAs={odpt:operator}"
        "odpt:railway":
          type: string
          format: uri
          description: 路線を表すID (odpt:Railwayのowl:sameAs)
          example: "odpt.Railway:JR-East.ChuoRapid"
          x-restfului-link: 
            - "/odpt:Railway?owl:sameAs={odpt:railway}"
        "odpt:railwayTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:station":
          type: string
          format: uri
          description: 駅を表すID (odpt:Stationのowl:sameAs)
          example: "odpt.Station:JR-East.ChuoRapid.Tokyo"
          x-restfului-link: 
            - "/odpt:Station?owl:sameAs={odpt:station}"
        "odpt:stationTitle":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:railDirection":
          type: string
          format: uri
          description: 方面を表すID (odpt:RailDirectionのowl:sameAs)
          example: "odpt.RailDirection:Outbound"
          x-restfului-link: 
            - "/odpt:RailDirection?owl:sameAs={odpt:railDirection}"
        "odpt:calendar":
          type: string
          format: uri
          description: 運行を行う曜日・日付情報のID (odpt:Calendarのowl:sameAs)
          example: "odpt.Calendar:Weekday"
          x-restfului-link: 
            - "/odpt:Calendar?owl:sameAs={odpt:calendar}"
        "odpt:stationTimetableObject":
          type: array
          items:
            $ref: '#/components/schemas/StationTimetableObject'
          description: 出発時刻、終着（行先）駅等の組のリスト
      additionalProperties: true

    TrainInformation:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      properties:
        "@type":
          type: string
          enum: ["odpt:TrainInformation"]
          example: "odpt:TrainInformation"
        "owl:sameAs":
          type: string
          format: uri
          description: 固有識別子。命名ルールは、odpt.TrainInformation:会社名.路線名 または odpt.TrainInformation:会社名
          example: "odpt.TrainInformation:TokyoMetro.Ginza"
          x-restfului-link: 
            - "/odpt:Railway?odpt:railway={owl:sameAs}"
            - "/odpt:Operator?odpt:operator={owl:sameAs}"
        "dct:valid":
          type: string
          format: date-time
          description: データ保証期限（ISO8601 日付時刻形式）
        "odpt:timeOfOrigin":
          type: string
          format: date-time
          description: 発生時刻（ISO8601 日付時刻形式）
        "odpt:operator":
          type: string
          format: uri
          description: 運行会社を表すID (odpt:Operatorのowl:sameAs)
          x-restfului-link: 
            - "/odpt:Operator?owl:sameAs={odpt:operator}"
        "odpt:railway":
          type: string
          format: uri
          description: 発生路線を表すID (odpt:Railwayのowl:sameAs)
          x-restfului-link: 
            - "/odpt:Railway?owl:sameAs={odpt:railway}"
        "odpt:trainInformationStatus":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:trainInformationText":
          $ref: '#/components/schemas/MultilingualTitle'
        "odpt:railDirection":
          type: string
          format: uri
          description: 運行情報の適用される方向を表すID (odpt:RailDirectionのowl:sameAs)
          x-restfului-link: 
            - "/odpt:RailDirection?owl:sameAs={odpt:railDirection}"
      additionalProperties: true

    # 汎用的なODPTデータ型（追加プロパティを許可）
    OdptDataObject:
      allOf:
        - $ref: '#/components/schemas/JsonLdContext'
      type: object
      additionalProperties: true

    # エラーレスポンス
    Error:
      type: object
      properties:
        error:
          type: string
          description: エラーメッセージ
      required:
        - error
