{
  "swagger": "2.0",
  "info": {
    "title": "API repository",
    "version": "v2"
  },
  "host": "anypoint.mulesoft.com",
  "basePath": "/apiplatform/repository/{version}",
  "schemes": [
    "https"
  ],
  "paths": {
    "/public": {},
    "/public/apis": {
      "get": {
        "description": "Retrieves a list of APIs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requireRaml",
            "description": "Search only those APIs which have a publicly accesible RAML specification.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "offset",
            "description": "Skip over a number of elements by specifying an offset value for the query.",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          },
          {
            "name": "limit",
            "description": "Limit the number of elements on the response.",
            "required": true,
            "in": "query",
            "default": 100,
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          },
          {
            "name": "sort",
            "description": "Property to sort by.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "ascending",
            "description": "Order for sorting.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "query",
            "description": "Search criteria.",
            "required": true,
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations": {
      "x-amf-description": "Organizations are the container entity for all API Portal-related resources."
    },
    "/organizations/active": {
      "get": {
        "description": "Get the active organization.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}": {
      "x-amf-description": "The organization's data.",
      "get": {
        "description": "Get the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "extended",
            "description": "Obtain extended information from the organization.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "resolveTheme",
            "description": "Resolves the theme inheritance.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "400": {
            "description": "Bad Request."
          },
          "500": {
            "description": "An unknown error occurred."
          }
        }
      },
      "put": {
        "description": "Update the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "400": {
            "description": "Bad Request."
          },
          "500": {
            "description": "An unknown error occurred."
          }
        }
      },
      "delete": {
        "description": "Delete the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted."
          }
        }
      }
    },
    "/organizations/{organizationId}/migration-mapping": {
      "get": {
        "description": "Get all api version migration mappings in CSV format. This is for setting up the Crowd upgrade.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/permissions": {
      "x-amf-description": "A list of available permissions.",
      "get": {
        "description": "Returns a list of elements.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/alerts": {
      "get": {
        "description": "Gets a collection of alerts.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersionId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "tierId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "lastModifiedSince",
            "description": "Return items which have been modified since the specified timestamp\n",
            "required": true,
            "in": "query",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "alertId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "query",
            "description": "Search criteria.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "policyId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Skip over a number of elements by specifying an offset value for the query.",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          },
          {
            "name": "apiId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "ascending",
            "description": "Order for sorting.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "severity",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Property to sort by.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "type",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit the number of elements on the response.",
            "required": true,
            "in": "query",
            "default": 100,
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          },
          {
            "name": "active",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved alert definitions.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "total": 1234,
                  "data": [
                    {
                      "apiVersion": {
                        "name": "My First API",
                        "id": 12345,
                        "apiId": 67890
                      },
                      "name": "My First API's Request Count Alert",
                      "severity": "warning",
                      "recipients": [
                        {
                          "role": "Api Version Owner"
                        },
                        {
                          "userId": "abcde-fghij-klmno",
                          "name": "Jane Doe",
                          "email": "jane.doe@example.com"
                        }
                      ],
                      "period": {
                        "duration": {
                          "count": 1,
                          "weight": "HOURS"
                        },
                        "repeat": 4
                      },
                      "type": "requestCount",
                      "condition": {
                        "aggregate": "count",
                        "operator": "GREATER_THAN",
                        "value": 1000
                      }
                    },
                    {
                      "apiVersion": {
                        "name": "My First API",
                        "id": 12345,
                        "apiId": 67890
                      },
                      "name": "My First API's Request Count Alert",
                      "severity": "warning",
                      "recipients": [
                        {
                          "role": "Api Version Owner"
                        },
                        {
                          "userId": "abcde-fghij-klmno",
                          "name": "Jane Doe",
                          "email": "jane.doe@example.com"
                        }
                      ],
                      "period": {
                        "duration": {
                          "count": 1,
                          "weight": "HOURS"
                        },
                        "repeat": 4
                      },
                      "type": "requestCount",
                      "condition": {
                        "aggregate": "count",
                        "operator": "GREATER_THAN",
                        "value": 1000
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created."
          }
        }
      }
    },
    "/organizations/{organizationId}/environments": {
      "x-amf-description": "A list of available environments to deploy to.",
      "get": {
        "description": "Returns a list of elements.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "withCloudhubPermissions",
            "description": "Add to each environment the user's permissions in CloudHub",
            "required": true,
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "all",
            "description": "Retrieve all environments, without filtering by the user's permissions.",
            "required": true,
            "in": "query",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/default": {
      "x-amf-description": "The default environment. This is defined in core services per organization.",
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "id": "80139f69-2845-46fa-9217-d9fe0171030f",
                "name": "QA",
                "organizationId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "isProduction": false
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{apiId}/versions/{apiVersionId}/alerts": {
      "post": {
        "description": "Creates a new element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "allOf": [
                {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "policyId",
                        "policyTemplate"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-policy-violation"
                          ]
                        },
                        "policyId": {
                          "type": "integer"
                        },
                        "policyTemplate": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "maxLength": 150
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-request-count"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-response-code"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-response-time"
                          ]
                        }
                      }
                    }
                  ]
                },
                {
                  "type": "object",
                  "required": [
                    "apiAlertsVersion",
                    "name",
                    "api",
                    "apiVersion",
                    "enabled",
                    "severity",
                    "recipients",
                    "period",
                    "condition"
                  ],
                  "properties": {
                    "apiAlertsVersion": {
                      "enum": [
                        "1.0.0"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "api": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        }
                      }
                    },
                    "apiVersion": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 150
                        }
                      }
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "severity": {
                      "enum": [
                        "INFO",
                        "WARNING",
                        "CRITICAL"
                      ]
                    },
                    "recipients": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "type",
                          "value"
                        ],
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "role",
                              "user"
                            ]
                          },
                          "value": {
                            "type": "string",
                            "maxLength": 254
                          }
                        }
                      }
                    },
                    "period": {
                      "type": "object",
                      "required": [
                        "duration",
                        "repeat"
                      ],
                      "properties": {
                        "duration": {
                          "type": "object",
                          "required": [
                            "count",
                            "weight"
                          ],
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "weight": {
                              "enum": [
                                "DAYS",
                                "HOURS",
                                "MINUTES"
                              ]
                            }
                          }
                        },
                        "repeat": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    },
                    "condition": {
                      "type": "object",
                      "required": [
                        "aggregate",
                        "operator",
                        "value"
                      ],
                      "properties": {
                        "aggregate": {
                          "enum": [
                            "COUNT",
                            "AVG",
                            "SUM",
                            "MIN",
                            "MAX"
                          ]
                        },
                        "operator": {
                          "enum": [
                            "GREATER_THAN",
                            "LESS_THAN",
                            "EQUAL"
                          ]
                        },
                        "value": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "resourceType": {
                          "enum": [
                            "api-version"
                          ]
                        },
                        "filter": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "property": {
                                "type": "string"
                              },
                              "operator": {
                                "enum": [
                                  "GREATER_THAN",
                                  "LESS_THAN",
                                  "EQUAL",
                                  "MATCHES",
                                  "IN",
                                  "BETWEEN",
                                  "EXIST"
                                ]
                              },
                              "values": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {}
                                  },
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created alert definition."
          },
          "201": {
            "description": "The new element has been successfully created."
          }
        }
      },
      "get": {
        "description": "Returns a list of elements.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved an API Version's alert definitions."
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{apiId}/versions/{apiVersionId}/alerts/{alertId}": {
      "x-amf-description": "An alert Item",
      "get": {
        "description": "Gets an alert.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "alertId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved alert definition.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "allOf": [
                {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "policyId",
                        "policyTemplate"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-policy-violation"
                          ]
                        },
                        "policyId": {
                          "type": "integer"
                        },
                        "policyTemplate": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "maxLength": 150
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-request-count"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-response-code"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "api-response-time"
                          ]
                        }
                      }
                    }
                  ]
                },
                {
                  "type": "object",
                  "required": [
                    "apiAlertsVersion",
                    "name",
                    "api",
                    "apiVersion",
                    "enabled",
                    "severity",
                    "recipients",
                    "period",
                    "condition"
                  ],
                  "properties": {
                    "apiAlertsVersion": {
                      "enum": [
                        "1.0.0"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "api": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        }
                      }
                    },
                    "apiVersion": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 150
                        }
                      }
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "severity": {
                      "enum": [
                        "INFO",
                        "WARNING",
                        "CRITICAL"
                      ]
                    },
                    "recipients": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "type",
                          "value"
                        ],
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "role",
                              "user"
                            ]
                          },
                          "value": {
                            "type": "string",
                            "maxLength": 254
                          }
                        }
                      }
                    },
                    "period": {
                      "type": "object",
                      "required": [
                        "duration",
                        "repeat"
                      ],
                      "properties": {
                        "duration": {
                          "type": "object",
                          "required": [
                            "count",
                            "weight"
                          ],
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "weight": {
                              "enum": [
                                "DAYS",
                                "HOURS",
                                "MINUTES"
                              ]
                            }
                          }
                        },
                        "repeat": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    },
                    "condition": {
                      "type": "object",
                      "required": [
                        "aggregate",
                        "operator",
                        "value"
                      ],
                      "properties": {
                        "aggregate": {
                          "enum": [
                            "COUNT",
                            "AVG",
                            "SUM",
                            "MIN",
                            "MAX"
                          ]
                        },
                        "operator": {
                          "enum": [
                            "GREATER_THAN",
                            "LESS_THAN",
                            "EQUAL"
                          ]
                        },
                        "value": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "resourceType": {
                          "enum": [
                            "api-version"
                          ]
                        },
                        "filter": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "property": {
                                "type": "string"
                              },
                              "operator": {
                                "enum": [
                                  "GREATER_THAN",
                                  "LESS_THAN",
                                  "EQUAL",
                                  "MATCHES",
                                  "IN",
                                  "BETWEEN",
                                  "EXIST"
                                ]
                              },
                              "values": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {}
                                  },
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication requirements not fulfilled."
          },
          "403": {
            "description": "Insufficient permissions."
          },
          "404": {
            "description": "Specified alert not found."
          }
        }
      },
      "patch": {
        "description": "Updates a alert.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "alertId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "type": "object",
              "properties": {
                "apiAlertsVersion": {
                  "enum": [
                    "1.0.0"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "enabled": {
                  "type": "boolean"
                },
                "severity": {
                  "enum": [
                    "INFO",
                    "WARNING",
                    "CRITICAL"
                  ]
                },
                "recipients": {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "required": [
                      "type",
                      "value"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "email",
                          "role",
                          "user"
                        ]
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "period": {
                  "type": "object",
                  "properties": {
                    "duration": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "weight": {
                          "enum": [
                            "DAYS",
                            "HOURS",
                            "MINUTES",
                            "SECONDS"
                          ]
                        }
                      }
                    },
                    "repeat": {
                      "type": "integer"
                    }
                  }
                },
                "condition": {
                  "type": "object",
                  "properties": {
                    "aggregate": {
                      "enum": [
                        "COUNT",
                        "AVG",
                        "SUM",
                        "MIN",
                        "MAX"
                      ]
                    },
                    "operator": {
                      "enum": [
                        "GREATER_THAN",
                        "LESS_THAN",
                        "EQUAL"
                      ]
                    },
                    "value": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated alert definition.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "type": "api-request-count",
                  "apiAlertsVersion": "1.0.0",
                  "api": {
                    "name": "My First API",
                    "id": 22
                  },
                  "apiVersion": {
                    "name": "First version",
                    "id": 77
                  },
                  "enabled": true,
                  "resources": [
                    "foo-api-version-id"
                  ],
                  "name": "My First API's Request Count Alert",
                  "severity": "WARNING",
                  "recipients": [
                    {
                      "type": "role",
                      "value": "API_VERSION_OWNER"
                    },
                    {
                      "type": "user",
                      "value": "foo-user-id"
                    },
                    {
                      "type": "email",
                      "value": "foo_email@example.com"
                    }
                  ],
                  "period": {
                    "duration": {
                      "count": 1,
                      "weight": "HOURS"
                    },
                    "repeat": 4
                  },
                  "condition": {
                    "resourceType": "api-version",
                    "aggregate": "COUNT",
                    "operator": "GREATER_THAN",
                    "value": 1000,
                    "filter": [
                      {
                        "property": "apiVersionId",
                        "operator": "EQUAL",
                        "values": [
                          "foo-api-version-id"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid alert payload."
          },
          "401": {
            "description": "Authentication requirements not fulfilled."
          },
          "403": {
            "description": "Insufficient permissions."
          },
          "404": {
            "description": "Specified alert not found."
          }
        }
      },
      "delete": {
        "description": "Deletes the specified alert definition.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "alertId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted alert definition."
          },
          "401": {
            "description": "Authentication requirements not fulfilled."
          },
          "403": {
            "description": "Insufficient permissions."
          },
          "404": {
            "description": "alert not found."
          }
        }
      }
    },
    "/organizations/{organizationId}/theme": {
      "put": {
        "description": "Update the organization theme.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "multipart/form-data",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/theme/default": {
      "get": {
        "description": "Get the default theme for an organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/portals/terms": {
      "get": {
        "description": "Gets portal terms set for the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "Create portal terms for the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "Deletes portal terms for the organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/portals/redirectUri": {
      "put": {
        "description": "Update redirect uri of the list of portals for the organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis": {
      "x-amf-description": "A collection of APIs.",
      "get": {
        "description": "Retrieves a list of APIs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "description": "Search criteria.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Skip over a number of elements by specifying an offset value for the query.",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          },
          {
            "name": "filters",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "ascending",
            "description": "Order for sorting.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "requirePortal",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "sort",
            "description": "Property to sort by.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit the number of elements on the response.",
            "required": true,
            "in": "query",
            "default": 100,
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "Creates an API.",
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "multipart/form-data",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created."
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/by-name": {
      "get": {
        "description": "Returns a single API that matches the passed-in API name.\nReturns null if no match is found.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiName",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/versions": {
      "post": {
        "description": "Create an API Version from an Exchange Spec. Only available after the Crowd upgrade.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "name": "unclassified api version from GAV",
                "spec": {
                  "groupId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                  "assetId": "api-test",
                  "version": "1.0.0"
                }
              },
              "type": "object",
              "required": [
                "spec",
                "name"
              ],
              "properties": {
                "spec": {
                  "type": "object",
                  "required": [
                    "groupId",
                    "assetId",
                    "version"
                  ],
                  "properties": {
                    "groupId": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 256
                    },
                    "assetId": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 256
                    },
                    "version": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 256
                    }
                  }
                },
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 150
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "apiId": 26,
                "assetVersion": "1.0.0",
                "productVersion": "v1",
                "environmentId": null,
                "name": "unclassified api version from GAV",
                "order": 1,
                "audit": {
                  "created": {
                    "date": "2017-09-19T21:27:47.177Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "organizationId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "id": 97,
                "groupId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "assetId": "api-test",
                "tags": [],
                "terms": null
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/versions/by-endpoint": {
      "get": {
        "description": "Returns a list of API versions for a given list of endpoints.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uris",
            "required": true,
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/versions/by-name": {
      "get": {
        "description": "Returns a single API that matches the passed-in API name\nand API version name. Returns null if no match is found.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiName",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "versionName",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/versions/tiers": {
      "get": {
        "description": "Returns permitted SLA tiers within an organization.\nIt means every SLA tier that belongs to API version requesting user has access to.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/versions/contracts/applications": {
      "get": {
        "description": "Returns permitted applications within an organization.\nIt means every applications that has a contract with an API version requesting user has access to.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}": {
      "x-amf-description": "An API.",
      "get": {
        "description": "Returns an API and all its versions.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/portals": {
      "x-amf-description": "A collection of API portals.",
      "get": {
        "description": "Returns a collection of API portals.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/permissions": {
      "post": {
        "description": "Grant a user view access to this API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created."
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions": {
      "x-amf-description": "A collection of API versions.",
      "post": {
        "description": "Creates an API version.",
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "multipart/form-data",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created."
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}": {
      "x-amf-description": "An API version.",
      "get": {
        "description": "Returns an instance of a single element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "Updates a single element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "patch": {
        "description": "Patches a single element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "Deletes the instance of the element specified.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": "The element has been deleted successfully."
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/classify": {
      "post": {
        "description": "(Only avaliable after the Crowd upgrade) Moves an API Version from the unclassified environment into a specified environment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "required": [
                    "environmentId"
                  ],
                  "properties": {
                    "instanceLabel": {
                      "x-amf-union": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "environmentId": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                }
              ],
              "example": {
                "environmentId": "2ba4f3f8-0d26-49f6-8fd5-ea508abbb7ea",
                "instanceLabel": "my-instance-label"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "audit": {
                  "created": {
                    "date": "2017-09-01T18:34:50.783Z"
                  },
                  "updated": {
                    "date": "2017-09-11T14:49:53.257Z"
                  }
                },
                "masterOrganizationId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "organizationId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "id": 25,
                "apiId": 5,
                "portalId": 11,
                "name": "dolorem 25",
                "instanceLabel": "my-instance-label",
                "groupId": "f0c9b011-980e-4928-9430-e60e3a97c043",
                "assetId": "api-test",
                "assetVersion": "1.0.0",
                "productVersion": "v1",
                "description": "accusamus dolorem et rerum placeat libero doloremque id quia vitae illo et suscipit sed nam ipsa qui in eum reiciendis incidunt corporis est iusto voluptas magnam pariatur adipisci fugiat voluptatibus odio aut sed culpa dignissimos sit quis quo est corrupti omnis quaerat voluptatum enim asperiores voluptatem exercitationem et accusantium illum",
                "tags": [
                  "accusantium",
                  "voluptatem",
                  "dolores",
                  "hic",
                  "nostrum",
                  "quia",
                  "aut",
                  "alias",
                  "in",
                  "qui"
                ],
                "order": 5,
                "rootFileId": 23,
                "deprecated": false,
                "lastActiveDate": null,
                "endpointUri": null,
                "environmentId": "2ba4f3f8-0d26-49f6-8fd5-ea508abbb7ea",
                "isPublic": false,
                "terms": null,
                "termsDate": "2017-09-08T19:41:01.096Z"
              }
            }
          },
          "400": {
            "description": ""
          },
          "409": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/export": {
      "get": {
        "description": "Exports an API Version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "name": "portal",
            "description": "Include portal.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "files",
            "description": "Include definition files.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "slaTiers",
            "description": "Include SLA tiers.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "portalAttachments",
            "description": "Include portal attachments.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "endpoint",
            "description": "Include endpoint definition.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "portalFiles",
            "description": "Include portal images.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/zip",
            "schema": {}
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users": {
      "x-amf-description": "Proxy for core services that return users, with exception of API OWNER role and the current user.",
      "get": {
        "description": "Search for users.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "search",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "includeCurrent",
            "description": "Whether to include the currently logged-in user in the search results or not.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "offset",
            "description": "Offset on the amount of assets (each of which has all its apis)",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "limit",
            "description": "Limit on the amount of assets (each of which has all its apis)",
            "required": true,
            "in": "query",
            "default": 25,
            "type": "integer"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users/by-roles": {
      "x-amf-description": "Proxy for core services that return users for a given set of roles and context parameters.\nUsers are returned with an extra \"roles\" property containing the core services id of the subset of passed-in roles of which they are a member.\n",
      "get": {
        "description": "Search for users who match a specific set of roles.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "API_VERSION_OWNER",
            "description": "Context params for the API VERSION OWNER role.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "PORTAL_ACCESS",
            "description": "Context params for the PORTAL ACCESS role.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/users/owners": {
      "get": {
        "description": "Return all owners of an API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/permissions": {
      "post": {
        "description": "Grant a user admin access to this API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "Revoke a user's admin access to this API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/migration-mapping": {
      "x-amf-description": "This is for setting up for the Crowd upgrade.",
      "get": {
        "description": "Get the api version migration mapping of an API version",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersionId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "masterOrganizationId": "9881ab9d-e73a-47cd-8105-d0b5f1a27fa1",
                "organizationId": "9881ab9d-e73a-47cd-8105-d0b5f1a27fa1",
                "id": 4399,
                "apiVersionId": 116409,
                "apiName": "newName",
                "apiVersionName": "newVersion",
                "migratePortal": true,
                "crowdOneAccount": false
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a migration mapping for an API version",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "apiName": "newName",
                "apiVersionName": "newVersion",
                "migratePortal": true
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "Update a migration mapping of an API version",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "apiName": "newName",
                "apiVersionName": "newVersion",
                "migratePortal": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal": {
      "get": {
        "description": "Obtain the portal associated with the API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resolveTheme",
            "description": "Resolves theme inheritance.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "Create a portal and associates it with an API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "patch": {
        "description": "Create a portal and associates it with an API version.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/permissions": {
      "post": {
        "description": "Grant a user view access to this portal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "Revoke a user's view access to portal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/redirectUri": {
      "put": {
        "description": "Update redirec uri for a portal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "apiVersionId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/apis/{apiId}/versions/{apiVersionId}/portal/pages": {
      "x-amf-description": "A collection of portal pages.",
      "post": {
        "description": "Creates a new element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "apiId",
            "required": true,
            "in": "path",
[...]
